// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.highlight {
  background-color: $gray-800;
  border-radius: 1rem;
  margin: 2rem 0;
}

.bd-example + .highlight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.btn-clipboard {
  position: absolute;
  top: 0.65rem;
  right: 0.65rem;
  z-index: 10;
  display: block;
  padding: 0.35rem 0.55rem;
  @include font-size(0.7em);
  color: $white;
  background-color: $primary;
  border: 0;
  @include border-radius();
  font-weight: $font-weight-bold;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary;
  }
}
