// Style for Indroduction Card Illustration

.separator {
    background-color: $gray-400;
    margin          : 2.5rem 0;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
/* toggle switches with bootstrap default colors */

.toggle {
    label {
        height  : 2rem;
        position: relative;
        display : inline-block;
        @include transition(0.2s);
        @include border-radius(50px);

        &:after {
            content   : "";
            position  : absolute;
            width     : 50px;
            height    : 50px;
            left      : 0;
            top       : -5px;
            z-index   : 1;
            background: $gray-300;
            border    : $border-width solid $gray-400;
            @include transition(0.2s);
            @include border-radius(50px);
        }
    }

    input {
        position: absolute;
        z-index : 5;
        opacity : 0;
        cursor  : pointer;
        width   : 0;
        height  : 0;

        &:checked+label {
            &:after {
                left: 40px;
            }
        }
    }

    &.theme-switch {
        label {
            cursor    : pointer;
            width     : 4rem;
            background: $gray-100;
            border    : $border-width solid $gray-200;

            &:after {
                top   : 2px;
                width : 26px;
                height: 26px;
                left  : 2px;
            }

            &:hover {
                background-color: $gray-200;
            }
        }

        input:checked+label {
            background: rgba($primary, 0.7);

            &:after {
                left: 34px;
            }
        }
    }
}

.icon-toggle {
    height: 1.5rem;
    color : $gray-400;

    &.active {
        color: #f3b017;
    }
}

// Toggle switch 2

.switch {
    display : inline-block;
    width   : 60px;
    height  : 30px;
    position: relative;

    .icon-toggle {
        height     : 1.25rem;
        color      : #f3b017;
        margin-left: 5px;

        &.right-icon {
            margin-right: 5px;
        }
    }

    .checkbox {
        visibility: hidden;
        width  : 0;
        height : 0;

        &:checked+.toggle-thumb:before {
            transform: translateX(30px);
        }
    }

    .toggle-thumb {
        position        : absolute;
        top             : 0;
        left            : 0;
        right           : 0;
        bottom          : 0;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        background-color: $gray-100;
        border          : 1px solid $gray-200;
        border-radius   : 40px;
        cursor          : pointer;

        &::before {
            content         : "";
            height          : 23px;
            width           : 23px;
            position        : absolute;
            left            : 2px;
            bottom          : 2px;
            border-radius   : 50%;
            background-color: $gray-300;
            border          : 1px solid $gray-400;
        }
    }
}