@mixin dark-mode-styles-docs() {

    .bd-sidebar {

        a {
            color: $gray-400;

            &:hover,
            &.active {
                color: $primary;
            }
        }

        .btn {
            color: $white;

            &:hover {
                color: $primary;
            }

            &::after {
                content: url(escape-svg('data:image/svg+xml;charset=utf-8, <svg fill="none" stroke="#9CA3AF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>'));
            }
        }

    }

    .bd-toc {
        nav {
            a {
                color: $gray-400;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .switch .toggle-thumb {
        background-color: $gray-700;
        border-color    : $gray-800;

        .icon-dark {
            color: #39A8C2;
        }

        &:before {
            background-color: $gray-800;
            border-color    : darken($gray-800, 5%);
        }
    }

    .bd-navbar {
        backdrop-filter        : blur(8px);
        -webkit-backdrop-filter: blur(8px);
        background             : rgba(17, 25, 40, 0.75);
        border-bottom          : 1px solid rgba(255, 255, 255, 0.125);

        .navbar-brand,
        .footer-brand {
            color: $white;

            &:hover {
                color: $white;
            }
        }

        .nav-item {
            .nav-link {
                color: $gray-300;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .bd-example {
        background   : $gray-900;
        border       : 2px solid $gray-800;
        border-bottom: 0;
    }
}

html {

    // manual dark mode override when there's no OS preference
    &.dark {
        @include dark-mode-styles-docs();
    }

    // native dark mode preference to prevent screen flickering
    @media (prefers-color-scheme: dark) {
        &:not(&.light) {
            @include dark-mode-styles-docs();
        }

    }
}