//
// Footer
//

.footer-brand {
  font-size: 1.2rem;
  color: $gray-900;

  &:hover {
    color: $gray-900;
  }

  @include media-breakpoint-up(md) {
      font-size: 1.3rem;
  }
}

footer {
  a {
      font-weight: $font-weight-normal;
  }
}

footer {
  .nav-link {
      padding-left: 0;
      color: $body-color;
  }
}