.bd-sidebar {
  @include media-breakpoint-down(md) {
    margin: 0 -0.75rem 1rem;
  }

  width: 100%;
  max-width: 200px;
  position: sticky;
  top: 85px;
  height: subtract(100vh, 7rem);
}

.bd-links {
  top: 0.875rem;
  overflow: auto;

  @include media-breakpoint-up(md) {
    position: sticky;
    top: 5rem;
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
    height: subtract(100vh, 7rem);
    // Prevent focus styles to be cut off:
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
  }

  > ul {
    @include media-breakpoint-down(md) {
      padding: 1.5rem 0.75rem;
      background-color: $gray-100;
      border-bottom: 1px solid $gray-200;
    }
  }

  a {
    width: 100%;
    padding: 0.5rem;
    margin: 0 0 0.2rem 0;
    font-size: 0.875rem;
    color: $gray-500;
    text-decoration: if($link-decoration == none, null, none);

    &:hover {
      color: $primary;
    }

    &.active {
      color: $primary;
      background-color: rgba($primary, 0.125);
      @include border-radius($border-radius-sm);
    }
  }

  .btn {
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: $font-weight-medium;
    color: $gray-900;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    width: 100%;

    &:hover, &:focus {
      outline: none;
      box-shadow: none;
      color: $primary;
    }

    // Add chevron if there's a submenu
    &::after {
      content: url('data:image/svg+xml;charset=utf-8, <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>');
      width: 1em;
      line-height: 0; // Align in the middle
      @include transition(transform 0.35s ease);
      margin-left: auto;
    }

    &[aria-expanded="true"] {
      &::after {
        transform: rotate(90deg);
      }
    }

    &::before {
      content: none !important;
    }
  }

}
