<aside class="fixed z-50 hidden right-5 bottom-5 sm:block">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CK7D4KQE&placement=flowbitedesign" id="_carbonads_js"></script>
  </aside>

<aside id="copied-code-alert" class="fixed z-50 p-4 hidden transition-opacity bg-gray-100 border border-gray-200 rounded-lg opacity-0 bottom-5 left-5 dark:border-gray-700 shadow-xs dark:bg-gray-800" aria-label="Copied to clipboard success message">
    <svg class="w-5 h-5 text-green-700 dark:text-green-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
    <p class="ml-2 text-sm font-medium text-gray-600 dark:text-gray-300">Copied code to clipboard!</p>
</aside>

<footer class="bg-neutral-primary border-t border-light-subtle bg-linear-to-t from-0% dark:from-brand/8 from-neutral-tertiary to-[24rem] to-primary">
    <div class="border-b border-light-subtle">
        <div class="w-full mx-auto max-w-8xl border-s border-e border-light-subtle">
            <div class="grid gap-12 xl:grid-cols-6 xl:gap-24 px-6 xl:pt-18 py-12">
                <div class="col-span-2">
                    <a href="{{ .Site.Params.homepage }}/" class="flex mb-5">
                        <img src="/docs/images/logo.svg" class="h-7 mr-3 group-data-[theme=modern]/root:block hidden" alt="FlowBite Logo" />
                        <img src="/docs/images/logo-minimal.svg" class="h-7 mr-3 group-data-[theme=minimal]/root:block hidden" alt="FlowBite Logo" />
                        <img src="/docs/images/logo-enterprise.svg" class="h-7 mr-3 group-data-[theme=enterprise]/root:block hidden" alt="FlowBite Logo" />
                        <img src="/docs/images/logo-playful.svg" class="h-7 mr-3 group-data-[theme=playful]/root:block hidden" alt="FlowBite Logo" />
                        <img src="/docs/images/logo-mono.svg" class="h-7 mr-3 group-data-[theme=mono]/root:block hidden" alt="FlowBite Logo" />
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white leading-none">Flowbite</span>
                      </a>
                    <p class="max-w-lg mb-3 text-body leading-relaxed">Flowbite is a library of interactive UI components built with Tailwind CSS that can get you started building websites faster and more efficiently.</p>
                    <p class="max-w-lg text-body">Code licensed <a href="https://github.com/themesberg/flowbite/blob/main/LICENSE.md" class="text-fg-brand hover:underline" rel="nofollow">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" class="text-fg-brand hover:underline" rel="nofollow">CC BY 3.0</a>.</p>
                </div>
                <div>
                    <h3 class="mb-6 font-medium text-heading">Resources</h3>
                    <ul class="text-sm font-normal text-body">
                        <li class="mb-6">
                            <a href="{{ .Site.Params.homepage }}/"
                                class="hover:underline">Documentation</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://flowbite.com/blocks/"
                                class="hover:underline">Flowbite Blocks</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://flowbite.com/figma/"
                                class="hover:underline">Figma Design</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://flowbite.com/icons/"
                                class="hover:underline">Flowbite Icons</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://chat.openai.com/g/g-y7yC35HB9-flowbite-gpt"
                                class="hover:underline">Flowbite GPT</a>
                        </li>
                        <li class="mb-6">
                            <a href="{{ .Site.Params.homepage }}/pro/"
                                class="hover:underline">Pro version</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 font-medium text-heading">Help and support</h3>
                    <ul class="text-sm font-normal text-body">
                        <li class="mb-6">
                            <a href="{{ .Site.Params.homepage }}/contact/" rel="noreferrer nofollow"
                                class="hover:underline">Contact us</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://github.com/themesberg/flowbite/discussions" rel="noreferrer nofollow"
                                class="hover:underline">Github discussions</a>
                        </li>
                        <li class="mb-4 flex items-center">
                            <a href="https://flowbite.com/work-with-us/" class="hover:underline">Hire us </a>
                            <span class="ms-2 bg-brand-softer border border-brand-subtle text-fg-brand-strong text-xs font-medium px-1.5 py-0.5 rounded">New</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 font-medium text-heading">Legal</h3>
                    <ul class="text-sm font-normal text-body">
                        <li class="mb-6">
                            <a href="{{ .Site.Params.homepage }}/license/" class="hover:underline">License (EULA)</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://flowbite.com/privacy-policy/"
                                class="hover:underline">Privacy Policy</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://flowbite.com/terms-and-conditions/"
                                class="hover:underline">Terms & Conditions</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://flowbite.com/brand/"
                                class="hover:underline">Brand guideline</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 font-medium text-heading">Follow us</h3>
                    <ul class="text-sm font-normal text-body">
                        <li class="mb-6">
                            <a href="https://discord.gg/4eeurUVvTy" rel="noreferrer nofollow"
                                class="hover:underline">Discord</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://github.com/themesberg/flowbite"
                                class="hover:underline">Github</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://twitter.com/zoltanszogyenyi" rel="noreferrer nofollow"
                                class="hover:underline">Twitter/X</a>
                        </li>
                        <li class="mb-6">
                            <a href="https://www.linkedin.com/in/zoltanszogyenyi/" rel="noreferrer nofollow"
                                class="hover:underline">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full mx-auto max-w-8xl border-s border-e border-light-subtle px-6 py-12">
        <span class="block text-center text-body text-sm font-normal">© 2019-<span id="currentYear"></span> <a href="{{ .Site.Params.homepage }}/" class="hover:underline">Flowbite™</a> is a registered trademark. All Rights Reserved.
    </span>
    </div>
</footer>
