{{ define "main" }}

{{ partial "docs-navbar" }}

<div class="w-full container px-4 mx-auto">
  <div class="lg:flex">
    <!-- Sidebar -->
    <aside id="sidebar"
      class="fixed z-40 inset-0 flex-none h-full bg-black bg-opacity-25 w-full lg:bg-white lg:static lg:h-auto lg:overflow-y-visible lg:pt-0 lg:w-60 xl:w-72 lg:block hidden">
      {{ partial "docs-sidebar" . }}
    </aside>

    <main id="content-wrapper" class="min-w-0 w-full flex-auto lg:static lg:max-h-full lg:overflow-visible">
      <div class="w-full flex">

        <!-- Main content -->
        <div class="min-w-0 max-w-4xl flex-auto px-4 sm:px-6 xl:px-8 pt-10 pb-24 lg:pb-16">

          <!-- Intro -->
          <div class="pb-10 border-b border-gray-200 mb-10">
            <h1 class="inline-block text-3xl font-extrabold text-gray-900 tracking-tight" id="content">{{ .Title | markdownify }}</h1>
            <p class="mt-1 text-lg text-gray-500">{{ .Page.Params.Description | markdownify }}</p>
          </div>

          <div id="mainContent">
            {{ if .Page.Params.sections }}
            <div class="row g-3">
              {{ range .Page.Params.sections }}
              <div class="col-md-6">
                <a class="d-block text-decoration-none" href="../{{ urlize .title }}/">
                  <strong class="d-block h5 mb-0">{{ .title }}</strong>
                  <span class="text-secondary">{{ .description }}</span>
                </a>
              </div>
              {{ end }}
            </div>
            {{ end }}

            {{ .Content }}

          </div>
        </div>

        <!-- Table of content -->
        <div class="hidden xl:text-sm xl:block flex-none w-64 pl-8 mr-8">
          {{ if (eq .Page.Params.toc true) }}
          <div class="flex flex-col justify-between overflow-y-auto sticky max-h-(screen-18) pt-10 pb-6 top-18">
            <div class="mb-8">
              <h5 class="text-gray-900 uppercase tracking-wide font-semibold mb-3 text-sm lg:text-xs">On this page</h5>
              {{ .TableOfContents }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>

    </main>

  </div>
</div>
{{ end }}

{{ define "footer" }}
{{ range .Page.Params.extra_js -}}
<script{{ with .async }} async{{ end }} src="{{ .src }}">
</script>
  {{- end -}}
  {{ end }}