@theme {
--font-sans: 'STIX Two Text', serif;
--font-body: 'STIX Two Text', serif;
    
/* Flowbite variables */

--leading-9: 36px; /* rem pls */
--leading-7: 28px;
--leading-8: 32px;
--leading-6: 24px;
--leading-4: 16px;
--leading-none: 1px;
--leading-5: 20px;
--tracking-tighter: -0.8px;
--leading-heading-none: 60px;
--tracking-tight: -0.4px;

--text-xs: 0.825rem;
--text-sm:  0.925rem;
--text-base: 1.125rem;

/* radius variables */
--radius-xxs: 1px;
--radius-xs: 1px;
--radius-sm: 1px;
--radius: 4px;
--radius: 4px;
--radius-md: 4px;
--radius-base: 4px; 
--radius-lg: 4px;

/* border width variables */
--default-border-width: 1px;

/* text color variables */
--color-body: var(--color-zinc-600);
--color-body-subtle: var(--color-zinc-500);
--color-heading: var(--color-zinc-900);
--color-fg-brand-subtle: var(--color-cyan-200);
--color-fg-brand: var(--color-cyan-700);
--color-fg-brand-strong: var(--color-cyan-900);
--color-fg-success: var(--color-green-700);
--color-fg-success-strong: var(--color-green-900);
--color-fg-danger: var(--color-red-700);
--color-fg-danger-strong: var(--color-red-900);
--color-fg-warning-subtle: var(--color-orange-600);
--color-fg-warning: var(--color-orange-900);
--color-fg-yellow: var(--color-yellow-400);
--color-fg-disabled: var(--color-zinc-400);
--color-fg-purple: var(--color-purple-600);
--color-fg-cyan: var(--color-cyan-600);
--color-fg-indigo: var(--color-cyan-600);
--color-fg-pink: var(--color-pink-600);
--color-fg-lime: var(--color-lime-600);

/* background color variables */
--color-neutral-primary-soft: var(--color-white);
--color-neutral-primary: var(--color-white);
--color-neutral-primary-medium: var(--color-white);
--color-neutral-primary-strong: var(--color-white);
--color-neutral-secondary-soft: var(--color-white);
--color-neutral-secondary: var(--color-white);
--color-neutral-secondary-medium: var(--color-white);
--color-neutral-secondary-strong: var(--color-white);
--color-neutral-secondary-strongest: var(--color-white);
--color-neutral-tertiary-soft: var(--color-zinc-100);
--color-neutral-tertiary: var(--color-zinc-100);
--color-neutral-tertiary-medium: var(--color-zinc-100);
--color-neutral-quaternary: var(--color-zinc-200);
--color-neutral-quaternary-medium: var(--color-zinc-200);
--color-gray: var(--color-zinc-300);
--color-brand-softer: var(--color-cyan-50);
--color-brand-soft: var(--color-cyan-100);
--color-brand: var(--color-cyan-900);
--color-brand-medium: var(--color-cyan-200);
--color-brand-strong: var(--color-cyan-800);
--color-success-soft: var(--color-green-50);
--color-success: var(--color-green-700);
--color-success-medium: var(--color-green-100);
--color-success-strong: var(--color-green-800);
--color-danger-soft: var(--color-red-50);
--color-danger: var(--color-red-700);
--color-danger-medium: var(--color-red-100);
--color-danger-strong: var(--color-red-800);
--color-warning-soft: var(--color-orange-50);
--color-warning: var(--color-orange-500);
--color-warning-medium: var(--color-orange-100);
--color-warning-strong: var(--color-orange-700);
--color-dark-soft: var(--color-zinc-800);
--color-dark: var(--color-zinc-800);
--color-dark-strong: var(--color-zinc-900);
--color-disabled: var(--color-zinc-100);
--color-purple: var(--color-purple-500);
--color-sky: var(--color-sky-500);
--color-teal: var(--color-teal-600);
--color-pink: var(--color-pink-600);
--color-cyan: var(--color-cyan-500);
--color-fuchsia: var(--color-fuchsia-600);
--color-indigo: var(--color-cyan-600);
--color-orange: var(--color-orange-400);

/* border color variables */
--color-buffer: var(--color-white);
--color-buffer-medium: var(--color-white);
--color-buffer-strong: var(--color-white);
--color-muted: var(--color-zinc-50);
--color-light-subtle: var(--color-zinc-100);
--color-light: var(--color-zinc-100);
--color-light-medium: var(--color-zinc-100);
--color-default-subtle: var(--color-zinc-200);
--color-default: var(--color-zinc-200);
--color-default-medium: var(--color-zinc-200);
--color-default-strong: var(--color-zinc-200);
--color-success-subtle: var(--color-green-200);
--color-danger-subtle: var(--color-red-200);
--color-warning-subtle: var(--color-orange-200);
--color-brand-subtle: var(--color-cyan-200);
--color-brand-light: var(--color-cyan-600);
--color-dark-subtle: var(--color-zinc-800);
--color-dark-backdrop: var(--color-zinc-950);
}

.dark {
/* text color variables */
--color-body: var(--color-zinc-400);
--color-body-subtle: var(--color-zinc-400);
--color-heading: var(--color-white);
--color-fg-brand-subtle: var(--color-cyan-200);
--color-fg-brand: var(--color-cyan-500);
--color-fg-brand-strong: var(--color-cyan-400);
--color-fg-success: var(--color-green-600);
--color-fg-success-strong: var(--color-green-300);
--color-fg-danger: var(--color-red-500);
--color-fg-danger-strong: var(--color-red-300);
--color-fg-warning-subtle: var(--color-orange-500);
--color-fg-warning: var(--color-orange-300);
--color-fg-yellow: var(--color-yellow-400);
--color-fg-disabled: var(--color-zinc-600);
--color-fg-purple: var(--color-purple-500);
--color-fg-cyan: var(--color-cyan-500);
--color-fg-indigo: var(--color-cyan-500);
--color-fg-pink: var(--color-pink-500);
--color-fg-lime: var(--color-lime-500);

/* background color variables */
--color-neutral-primary-soft: var(--color-zinc-900);
--color-neutral-primary: var(--color-zinc-950);
--color-neutral-primary-medium: var(--color-zinc-800);
--color-neutral-primary-strong: var(--color-zinc-700);
--color-neutral-secondary-soft: var(--color-zinc-900);
--color-neutral-secondary: var(--color-zinc-950);
--color-neutral-secondary-medium: var(--color-zinc-800);
--color-neutral-secondary-strong: var(--color-zinc-700);
--color-neutral-secondary-strongest: var(--color-zinc-600);
--color-neutral-tertiary-soft: var(--color-zinc-900);
--color-neutral-tertiary: var(--color-zinc-800);
--color-neutral-tertiary-medium: var(--color-zinc-700);
--color-neutral-quaternary: var(--color-zinc-700);
--color-neutral-quaternary-medium: var(--color-zinc-600);
--color-gray: var(--color-zinc-600);
--color-brand-softer: var(--color-cyan-950);
--color-brand-soft: var(--color-cyan-900);
--color-brand: var(--color-cyan-600);
--color-brand-medium: var(--color-cyan-900);
--color-brand-strong: var(--color-cyan-700);
--color-success-soft: var(--color-green-950);
--color-success: var(--color-green-600);
--color-success-medium: var(--color-green-900);
--color-success-strong: var(--color-green-700);
--color-danger-soft: var(--color-red-950);
--color-danger: var(--color-red-700);
--color-danger-medium: var(--color-red-900);
--color-danger-strong: var(--color-red-800);
--color-warning-soft: var(--color-orange-950);
--color-warning: var(--color-orange-600);
--color-warning-medium: var(--color-orange-900);
--color-warning-strong: var(--color-orange-700);
--color-dark-soft: var(--color-zinc-700);
--color-dark: var(--color-zinc-800);
--color-dark-strong: var(--color-zinc-700);
--color-disabled: var(--color-zinc-800);
--color-purple: var(--color-purple-500);
--color-sky: var(--color-sky-500);
--color-teal: var(--color-teal-500);
--color-pink: var(--color-pink-500);
--color-cyan: var(--color-cyan-500);
--color-fuchsia: var(--color-fuchsia-500);
--color-indigo: var(--color-cyan-500);
--color-orange: var(--color-orange-400);

/* border color variables */
--color-buffer: var(--color-zinc-950);
--color-buffer-medium: var(--color-zinc-900);
--color-buffer-strong: var(--color-zinc-800);
--color-muted: var(--color-zinc-900);
--color-light-subtle: var(--color-zinc-900);
--color-light: var(--color-zinc-800);
--color-light-medium: var(--color-zinc-700);
--color-default-subtle: var(--color-zinc-900);
--color-default: var(--color-zinc-800);
--color-default-medium: var(--color-zinc-700);
--color-default-strong: var(--color-zinc-600);
--color-success-subtle: var(--color-green-900);
--color-danger-subtle: var(--color-red-900);
--color-warning-subtle: var(--color-orange-900);
--color-brand-subtle: var(--color-cyan-900);
--color-brand-light: var(--color-cyan-600);
--color-dark-subtle: var(--color-zinc-700);
--color-dark-backdrop: var(--color-zinc-950);
}
