<div id="copied-code-alert" class="flex fixed right-5 bottom-5 p-4 bg-gray-100 rounded-lg border border-gray-200 opacity-0 transition-opacity dark:border-gray-700 dshadow-sm dark:bg-gray-800">
    <svg class="w-5 h-5 text-green-700 dark:text-green-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
    <p class="ml-2 text-sm font-medium text-gray-700 dark:text-gray-300">Copied code to clipboard!</p>
</div>

<footer class="py-12 bg-white xl:py-24 dark:bg-gray-800">
    <div class="px-4 mx-auto w-full max-w-8xl">
        <div class="grid gap-12 xl:grid-cols-6 xl:gap-24">
            <div class="col-span-2">
                <a href="https://flowbite.com" class="flex mb-5">
                    <img src="/docs/images/logo.svg" class="mr-4 h-10" alt="FlowBite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">FlowBite</span>
                </a>
                <p class="max-w-lg text-gray-600 dark:text-gray-400">FlowBite is a UI library of elements & components based on Tailwind
                    CSS that can get you started building websites faster and more efficiently.</p>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-400 uppercase dark:text-white">Resources</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://flowbite.com" target="_blank"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Flowbite</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://tailwindcss.com/?ref=flowbite.com" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Tailwind CSS</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://www.figma.com/?ref=flowbite.com" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Figma</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://themesberg.com/affiliate?ref=flowbite.com" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Affiliate program</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-400 uppercase dark:text-white">Help and support</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://discord.gg/4eeurUVvTy" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Discord server</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://github.com/themesberg/flowbite/discussions" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Github discussions</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://themesberg.com/contact?ref=flowbite.com" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Contact us</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://themesberg.com/knowledge-center?ref=flowbite.com" target="_blank"
                            rel="noreferrer nofollow" class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Knowledge Center</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-400 uppercase dark:text-white">Follow us</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://github.com/themesberg" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Github</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://twitter.com/zoltanszogyenyi" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Twitter</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://www.facebook.com/themesberg" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Facebook</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-400 uppercase dark:text-white">Legal</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://themesberg.com/privacy-policy" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Privacy Policy</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://themesberg.com/terms-and-conditions" target="_blank" rel="noreferrer nofollow"
                            class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Terms & Conditions</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://flowbite.com/license/" class="font-normal text-gray-600 dark:text-gray-400 dark:hover:text-white hover:underline">Licensing</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-8 border-gray-200 dark:border-gray-700 lg:my-12" />
        <span class="block text-center text-gray-600 dark:text-gray-400 font-">© 2019-<span id="currentYear"></span> <a href="https://flowbite.com">Flowbite™</a>. All Rights Reserved.
        </span>
    </div>
</footer>