:root {
    --gl-bg-opacity: 1;
}

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 3 !default;

// Generic colors
$blue: #1c64f2 !default;
$indigo: #5850ec !default;
$purple: #7e3af2 !default;
$pink: #e74694 !default;
$red: #e71313 !default;
$orange: #fe7e13 !default;
$yellow: #ecbc06 !default;
$green: #06845c !default;
$teal: #0694a2 !default;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
) !default;

// Shades of grey
$white: #ffffff !default;
$gray-50: #f9fafb !default;
$gray-100: #f3f4f6 !default;
$gray-200: #e5e7eb !default;
$gray-300: #d1d5db !default;
$gray-400: #9ca3af !default;
$gray-500: #6b7280 !default;
$gray-600: #4b5663 !default;
$gray-700: #374151 !default;
$gray-800: #1f2a37 !default;
$gray-900: #111927 !default;
$black: #000000 !default;

$grays: (
    "white": $white,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900,
    "black": $black,
) !default;

// fusv-disable
$blue-50: #ebf5ff !default;
$blue-100: #e1effe !default;
$blue-200: #c3ddfd !default;
$blue-300: #a4cafe !default;
$blue-400: #76a9fa !default;
$blue-500: #3f83f8 !default;
$blue-600: #1c64f2 !default;
$blue-700: #1a56db !default;
$blue-800: #1e429f !default;
$blue-900: #233876 !default;

$indigo-50: #f0f5ff !default;
$indigo-100: #e5edff !default;
$indigo-200: #cddbfe !default;
$indigo-300: #b4c6fc !default;
$indigo-400: #8da2fb !default;
$indigo-500: #6875f5 !default;
$indigo-600: #5850ec !default;
$indigo-700: #5145cd !default;
$indigo-800: #42389d !default;
$indigo-900: #362f78 !default;

$purple-50: #f6f5ff !default;
$purple-100: #edebfe !default;
$purple-200: #dcd7fe !default;
$purple-300: #cabffd !default;
$purple-400: #ac94fa !default;
$purple-500: #9061f9 !default;
$purple-600: #7e3af2 !default;
$purple-700: #6c2bd9 !default;
$purple-800: #5521b5 !default;
$purple-900: #4a1d96 !default;

$pink-50: #fdf2f8 !default;
$pink-100: #fce8f3 !default;
$pink-200: #fad1e8 !default;
$pink-300: #f8b4d9 !default;
$pink-400: #f17eb8 !default;
$pink-500: #e74694 !default;
$pink-600: #d61f69 !default;
$pink-700: #bf125d !default;
$pink-800: #99154b !default;
$pink-900: #751a3d !default;

$red-50: #fdf2f2 !default;
$red-100: #fde8e8 !default;
$red-200: #fbd5d5 !default;
$red-300: #f8b4b4 !default;
$red-400: #f98080 !default;
$red-500: #f05252 !default;
$red-600: #e02424 !default;
$red-700: #c81e1e !default;
$red-800: #9b1c1c !default;
$red-900: #771d1d !default;

$orange-50: #fff8f1 !default;
$orange-100: #feecdc !default;
$orange-200: #fcd9bd !default;
$orange-300: #fdba8c !default;
$orange-400: #ff8a4c !default;
$orange-500: #ff5a1f !default;
$orange-600: #d03801 !default;
$orange-700: #b43403 !default;
$orange-800: #8a2c0d !default;
$orange-900: #771d1d !default;

$yellow-50: #fdfdea !default;
$yellow-100: #fdf6b2 !default;
$yellow-200: #fce96a !default;
$yellow-300: #faca15 !default;
$yellow-400: #e3a008 !default;
$yellow-500: #c27803 !default;
$yellow-600: #9f580a !default;
$yellow-700: #8e4b10 !default;
$yellow-800: #723b13 !default;
$yellow-900: #633112 !default;

$green-50: #f3faf7 !default;
$green-100: #def7ec !default;
$green-200: #bcf0da !default;
$green-300: #84e1bc !default;
$green-400: #31c48d !default;
$green-500: #0e9f6e !default;
$green-600: #057a55 !default;
$green-700: #046c4e !default;
$green-800: #03543f !default;
$green-900: #014737 !default;

$teal-50: #edfafa !default;
$teal-100: #d5f5f6 !default;
$teal-200: #afecef !default;
$teal-300: #7edce2 !default;
$teal-400: #16bdca !default;
$teal-500: #0694a2 !default;
$teal-600: #047481 !default;
$teal-700: #036672 !default;
$teal-800: #05505c !default;
$teal-900: #014451 !default;

// Main color scheme
$primary: #248466 !default;
$secondary: #1f2a37 !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Theme colors
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
) !default;

// Brand colors
$facebook: #3b5999 !default;
$twitter: #1da1f2 !default;
$google: #db4337 !default;
$instagram: #e4405f !default;
$pinterest: #bd081c !default;
$youtube: #cd201f !default;
$slack: #3aaf85 !default;
$dribbble: #ea4c89 !default;
$github: #222222 !default;
$dropbox: #1e90ff !default;
$twitch: #4b367c !default;
$paypal: #ecb32c !default;
$behance: #0057ff !default;
$reddit: #e84422 !default;

$brand-colors: (
    "facebook": $facebook,
    "twitter": $twitter,
    "google": $google,
    "instagram": $instagram,
    "pinterest": $pinterest,
    "youtube": $youtube,
    "slack": $slack,
    "dribbble": $dribbble,
    "dropbox": $dropbox,
    "twitch": $twitch,
    "paypal": $paypal,
    "behance": $behance,
    "reddit": $reddit,
    "github": $github,
) !default;

// Combine theme-colors and grays for the bg colors
$bg-colors: ();
@each $key, $value in $theme-colors {
    $bg-colors: map-merge(
        $bg-colors,
        (
            $key: rgba($value, var(--gl-bg-opacity)),
        )
    );
}
@each $key, $value in $grays {
    $bg-colors: map-merge(
        $bg-colors,
        (
            $key: rgba($value, var(--gl-bg-opacity)),
        )
    );
}

// Spacing classes
$spacer: 1rem !default;
$spacers: (
    0: 0,
    px: 1px,
    0\.5: 0.125rem,
    1\.5: 0.375rem,
    2: 0.5rem,
    2\.5: 0.625rem,
    3: 0.75rem,
    3\.5: 0.875rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    7: 1.75rem,
    8: 2rem,
    9: 2.25rem,
    10: 2.5rem,
    11: 2.75rem,
    12: 3rem,
    14: 3.5rem,
    16: 4rem,
    20: 5rem,
    24: 6rem,
    28: 7rem,
    32: 8rem,
    36: 9rem,
    40: 10rem,
    44: 11rem,
    48: 12rem,
    52: 13rem,
    56: 14rem,
    60: 15rem,
    64: 16rem,
    72: 18rem,
    80: 20rem,
    96: 24rem,
) !default;

// Sizings
$sizings: (
    0: 0,
    px: 1px,
    0\.5: 0.125rem,
    1: 0.25rem,
    1\.5: 0.375rem,
    2: 0.5rem,
    2\.5: 0.625rem,
    3: 0.75rem,
    3\.5: 0.875rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    7: 1.75rem,
    8: 2rem,
    9: 2.25rem,
    10: 2.5rem,
    11: 2.75rem,
    12: 3rem,
    14: 3.5rem,
    16: 4rem,
    20: 5rem,
    24: 6rem,
    28: 7rem,
    32: 8rem,
    36: 9rem,
    40: 10rem,
    44: 11rem,
    48: 12rem,
    52: 13rem,
    56: 14rem,
    60: 15rem,
    64: 16rem,
    72: 18rem,
    80: 20rem,
    96: 24rem,
    "auto": auto,
    1\/2: 50%,
    1\/3: 33.333333%,
    2\/3: 66.666667%,
    1\/4: 25%,
    3\/4: 75%,
    1\/5: 20%,
    2\/5: 40%,
    3\/5: 60%,
    4\/5: 80%,
    1\/6: 16.666667%,
    5\/6: 83.333333%,
    "full": 100%,
    "screen": 100vw,
    "min": min-content,
    "max": max-content,
) !default;

// Max widths
$max-widths: (
    0: 0,
    "none": none,
    "xs": 20rem,
    "sm": 24rem,
    "md": 28rem,
    "lg": 32rem,
    "xl": 36rem,
    "2xl": 42rem,
    "3xl": 48rem,
    "4xl": 56rem,
    "5xl": 64rem,
    "6xl": 72rem,
    "7xl": 80rem,
    "full": 100%,
    "min": min-content,
    "max": max-content,
    "prose": 65ch,
    "screen-sm": 540px,
    "screen-md": 720px,
    "screen-lg": 960px,
    "screen-xl": 1280px,
    "screen-xxl": 1440px,
) !default;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
) !default;

// Grid containers
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1280px,
    xxl: 1440px,
) !default;

// Font Family
$font-family-sans-serif: "Inter", sans-serif !default;

// Font weights
$font-weight-lighter: lighter !default;
$font-weight-thin: 100 !default;
$font-weight-extralight: 200 !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extrabold: 800 !default;
$font-weight-black: 900 !default;
$font-weight-bolder: bolder !default;

// Headings
$h1-font-size: 3rem !default;
$h2-font-size: 2.25rem !default;
$h3-font-size: 1.875rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

$headings-font-weight: $font-weight-bold !default;

// Displays
$display-font-sizes: (
    1: 8rem,
    2: 6rem,
    3: 4.5rem,
    4: 3.75rem,
    5: 3rem,
    6: 2.25rem,
) !default;
$display-font-weight: $font-weight-bold !default;

// Lead paragraph
$lead-font-size: 1.25rem !default;
$lead-font-weight: $font-weight-regular !default;

$code-color: $primary !default;

// opacities
$opacities: (
    0: 0,
    5: 0.05,
    10: 0.1,
    20: 0.2,
    25: 0.25,
    30: 0.3,
    40: 0.4,
    50: 0.5,
    60: 0.6,
    70: 0.7,
    75: 0.75,
    80: 0.8,
    90: 0.9,
    95: 0.95,
    100: 1,
) !default;

$border-radius: 0.25rem !default;
$border-radius-sm: 0.125rem !default;
$border-radius-md: 0.375rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 0.75rem !default;
$border-radius-2xl: 1rem !default;
$border-radius-3xl: 1.5rem !default;
$border-radius-pill: 50rem !default;
