<section class="bg-white py-16 lg:py-24" id="changelog">
    <div class="container px-4 lg:px-12 mx-auto">
        <h2 class="text-3xl lg:text-6xl font-bold text-gray-900 mb-6">Changelog</h2>
        <p class="text-gray-600 text-xl lg:text-2xl mb-16">We keep the changelog public to show you that FlowBite is a well updated and maintained product. Read through the timeline of updates by browsing the changelog below.</p>
        <div class="bg-gray-800 w-full rounded-3xl">
            <div class="pl-8">

            </div>
        </div>
    </div>
</section>