<section class="bg-white pt-16 lg:py-24">
    <div class="container px-4 lg:px-12 mx-auto">
        <h2 class="text-3xl xl:text-6xl font-bold text-gray-900 mb-6">Built for all devices</h2>
        <p class="text-gray-600 text-xl lg:text-2xl mb-6">Responsive design is an important requirement to build accessible user interfaces and provide a high quality experience for your users. That is why we built all of the desktop, tablet, and mobile screen examples for the devices from FlowBite.</p>
        <p class="text-gray-600 text-xl lg:text-2xl mb-10"><span class="text-gray-900 font-semibold">Mobile</span> vs <span class="text-gray-900 font-semibold">Desktop</span> vs <span class="text-gray-900 font-semibold">Tablet</span> Market Share:</p>

        <div class="flex flex-col lg:flex-row mb-16">
            <div class="flex items-center mr-8 mb-8 lg:mb-0">
                <div class="h-10 w-10 lg:h-12 lg:w-12 rounded-full bg-blue-100 flex justify-center items-center mr-4">
                    <svg class="w-5 h-5 lg:w-6 lg:h-6 text-blue-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M7 2a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V4a2 2 0 00-2-2H7zm3 14a1 1 0 100-2 1 1 0 000 2z" clipRule="evenodd"></path></svg>
                </div>
                <span class="text-gray-600 font-medium text-xl lg:text-2xl">Mobile: <span class="text-gray-900">54.25%</span></span>
            </div>
            <div class="flex items-center mr-8 mb-8 lg:mb-0">
                <div class="h-10 w-10 lg:h-12 lg:w-12 rounded-full bg-indigo-100 flex justify-center items-center mr-4">
                    <svg class="w-5 h-5 lg:w-6 lg:h-6 text-indigo-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M3 5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2.22l.123.489.804.804A1 1 0 0113 18H7a1 1 0 01-.707-1.707l.804-.804L7.22 15H5a2 2 0 01-2-2V5zm5.771 7H5V5h10v7H8.771z" clipRule="evenodd"></path></svg>
                </div>
                <span class="text-gray-600 font-medium text-xl lg:text-2xl">Desktop: <span class="text-gray-900">42.9%</span></span>
            </div>
            <div class="flex items-center mr-8">
                <div class="h-10 w-10 lg:h-12 lg:w-12 rounded-full bg-green-100 flex justify-center items-center mr-4">
                    <svg class="w-5 h-5 lg:w-6 lg:h-6 text-green-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V4a2 2 0 00-2-2H6zm4 14a1 1 0 100-2 1 1 0 000 2z" clipRule="evenodd"></path></svg>
                </div>
                <span class="text-gray-600 font-medium text-xl lg:text-2xl">Tablet: <span class="text-gray-900">2.85%</span></span>
            </div>
        </div>

        <div class="relative">
            <picture>
                <source media="(min-width: 1024px)" srcSet="" />
                <source media="(min-width: 640px)" srcSet="" />
                <source srcSet="" />
                <img src="" alt="Tailwind Figma Devices" />
            </picture>
        </div>

    </div>
</section>