<section class="my-8 lg:my-24">
    <div class="container px-4 lg:px-12 mx-auto">
        <h1 class="font-bold lg:font-extrabold text-4xl lg:text-6xl lg:leading-normal text-gray-900 lg:text-center 2xl:px-56 mb-4 lg:mb-10">Figma UI kit built for integration with Tailwind CSS</h1>
        <p class="text-gray-600 font-normal lg:text-center text-lg lg:text-2xl mb-10">Build UI interfaces and simplify the process of integrating into live websites with Tailwind CSS</p>
        <div class="flex flex-col md:flex-row lg:justify-center mb-8">
            <a href="https://www.figma.com/file/GkSnYg9g5f0Eq9gQ6BSAv8/Tailwind-Figma-Pro-Preview-1.0?node-id=1%3A2" target="_blank" rel="noreferrer" class="text-gray-600 bg-white-100 hover:bg-gray-100 border border-gray-200 font-semibold rounded-xl text-base px-6 py-3 text-center md:mr-6 mb-4 md:mb-0 flex items-center justify-center">
            <svg viewBox="0 0 38 57" class="inline w-5 h-5 mr-2"><path fill="#1abcfe" d="M19 28.5a9.5 9.5 0 1 1 19 0 9.5 9.5 0 0 1-19 0z"></path><path fill="#0acf83" d="M0 47.5A9.5 9.5 0 0 1 9.5 38H19v9.5a9.5 9.5 0 1 1-19 0z"></path><path fill="#ff7262" d="M19 0v19h9.5a9.5 9.5 0 1 0 0-19H19z"></path><path fill="#f24e1e" d="M0 9.5A9.5 9.5 0 0 0 9.5 19H19V0H9.5A9.5 9.5 0 0 0 0 9.5z"></path><path fill="#a259ff" d="M0 28.5A9.5 9.5 0 0 0 9.5 38H19V19H9.5A9.5 9.5 0 0 0 0 28.5z"></path></svg>
            Preview in Figma →</a>
            <a href="#pricing" class="text-white bg-blue-600 hover:bg-blue-700 font-semibold rounded-xl text-base px-6 py-3 text-center">Get FlowBite</a>
        </div>
        <div class="text-center">
            <span class="text-gray-500 text-xs font-normal">DESIGNED AND DEVELOPED BY <a href="https://themesberg.com?ref=flowbite.design" class="hover:underline" target="_blank">THEMESBERG™</a></span>
        </div>
        <iframe class="mt-12 lg:mt-20 w-full max-w-4xl mx-auto relative rounded-3xl border border-gray-300 shadow-2xl yt-video" src="https://www.youtube.com/embed/mTAupMv-3t8" title="YouTube video player" frameBorder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowFullScreen></iframe>
    </div>
</section>