<section class="pt-0">
  <div class="container">
      <!-- <div class="row justify-content-center mb-5 mb-lg-6">
          <div class="col-6 col-md-3 text-center mb-4">
              <div class="icon icon-shape icon-lg bg-white-25 shadow-lg border rounded icon-primary mb-4">
                  <span class="fas fa-pager"></span>
              </div>
              <h3 class="fw-bolder">21</h3>
              <p class="text-gray">Dashboard Pages</p>
          </div>
          <div class="col-6 col-md-3 text-center mb-4">
              <div class="icon icon-shape icon-lg bg-white-25 shadow-lg border rounded icon-primary mb-4">
                  <span class="fas fa-puzzle-piece"></span>
              </div>
              <h3 class="fw-bolder">800+</h3>
              <p class="text-gray">Premium Components</p>
          </div>
          <div class="col-6 col-md-3 text-center">
              <div class="icon icon-shape icon-lg bg-white-25 shadow-lg border rounded icon-primary mb-4">
                  <span class="fab fa-sass"></span>
              </div>
              <h3 class="fw-bolder">Workflow</h3>
              <p class="text-gray">Sass & Gulp</p>
          </div>
          <div class="col-6 col-md-3 text-center">
              <div class="icon icon-shape icon-lg bg-white-25 shadow-lg border rounded icon-primary mb-4">
                  <span class="fab fa-js-square"></span>
              </div>
              <h3 class="fw-bolder">Vanilla</h3>
              <p class="text-gray">Javascript</p>
          </div>
      </div> -->
        <div class="row justify-content-center align-items-center py-6 border-bottom">
            <div class="col-12 mb-5">
                <span class="badge bg-primary fs-6 px-3 py-2 mb-3">Pro feature</span>
                <h2 class="display-2 fw-bold">Dashboard UI interface</h2>
                <p class="mb-4 fw-normal lead pe-lg-12">Get started with a fully coded admin dashboard UI interface featuring over 25 pages to kickstart your web application and save hunders of hours of boilerplate coding</p>
                <a href="./pages/map.html" target="_blank" class="btn btn-lg btn-dark me-3"><i class="fas fa-chart-line me-2"></i> Live demo</a>
            </div>
            <div class="col-12">
                <img class="rounded shadow" src="img/dash-overview.jpg" alt="screenshot">
            </div>
        </div>
      <div class="row justify-content-between align-items-center pb-6 border-bottom">
          <div class="col-lg-5">
              <h2 class="h1">Kanban Board</h2>
              <p class="mb-4 lead fw-bold">Interactive drag and drop interface</p>
              <p class="mb-4">You'll get a fully interactive Drag and Drop Kanban board interface.</p>
              <a href="./pages/kanban.html" target="_blank" class="btn btn-primary me-3"><span class="fas fa-th me-2"></span> Demo</a>
              <!-- <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/plugins/kanban/" target="_blank" class="btn btn-outline-primary"><span class="fas fa-book me-2"></span> Guide</a> -->
          </div>
          <div class="col-lg-6">
              <img class="rounded shadow-sm perspective-right" src="img/mockup-kanban.jpg" alt="Kanban Preview">
          </div>
      </div>
      <div class="row justify-content-between align-items-center py-6 border-bottom">
          <div class="col-lg-5 order-lg-2 mb-5 mb-lg-0">
              <h2 class="h1">Chat</h2>
              <p class="mb-4 lead fw-bold">Markers and cards integration with Leaflet.js</p>
              <p class="mb-4">You can use this map to add markers with custom cards and show them on a map using our custom MapBox integration with Leaflet.js</p>
              <a href="./pages/map.html" target="_blank" class="btn btn-primary me-3"><span class="fas fa-map-marked-alt me-2"></span> Demo</a>
              <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/plugins/mapbox/" target="_blank" class="btn btn-outline-dark"><span class="fas fa-book me-2"></span> Guide</a>
          </div>
          <div class="col-lg-6 order-lg-1">
              <img class="rounded shadow-sm perspective-left" src="img/mockup-chat-presentation.jpg" alt="MapBox Leaflet.js Custom Integration Mockup">
          </div>
      </div>
      <div class="row justify-content-between align-items-center py-6 border-bottom">
          <div class="col-lg-5">
              <h2 class="h1">Calendar</h2>
              <p class="mb-4 lead fw-bold">Advanced FullCalendar.js integration</p>
              <p class="mb-4">We created a fully editable calendar where you can add, edit and delete events for your admin dashboard.</p>
              <a href="./pages/calendar.html" target="_blank" class="btn btn-primary me-3"><span class="far fa-calendar-alt me-2"></span> Demo</a>
              <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/plugins/calendar/" target="_blank" class="btn btn-outline-dark"><span class="fas fa-book me-2"></span> Guide</a>
          </div>
          <div class="col-lg-6">
              <img class="rounded shadow-sm perspective-right" src="img/mockup-calendar-presentation.jpg" alt="Calendar Preview">
          </div>
      </div>
      <div class="row justify-content-between align-items-center py-6 border-bottom">
          <div class="col-lg-5 order-lg-2 mb-5 mb-lg-0">
              <h2 class="h1">Bootstrap 5</h2>
              <p class="mb-4 lead fw-bold">Latest version of Bootstrap without jQuery</p>
              <p class="mb-4">Volt is built using the latest version of Bootstrap 5 and we only used Vanilla Javascript for everything including the plugins</p>
              <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components/accordions/" target="_blank" class="btn btn-primary"><span class="fas fa-book me-2"></span> Getting started</a>
          </div>
          <div class="col-lg-6 order-lg-1">
              <img src="img/illustrations/bs5-illustrations.svg" alt="Front pages overview">
          </div>
      </div>
  </div>
</section>
<section class="pt-6">
  <div class="container border-bottom pb-6">
      <div class="row justify-content-center mb-5 mb-lg-6">
          <div class="col-12 text-center">
              <h2 class="h1 px-lg-5">Awesome Features</h2>
              <p class="lead px-lg-8">You get all Bootstrap components fully customized. Besides, you receive numerous plugins out of the box and ready to use.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="fab fa-bootstrap"></span></span>
                      <h5 class="fw-bold">Bootstrap 5</h5>
                      <p class="text-gray-700 mb-0">Built with the most popular CSS Framework</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="fab fa-sass"></span></span>
                      <h5 class="fw-bold">Sass</h5>
                      <p class="text-gray-700 mb-0">Variables and mixins to empower development</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="fas fa-mobile-alt"></span></span>
                      <h5 class="fw-bold">Responsive</h5>
                      <p class="text-gray-700 mb-0">All pages and components are 100% responsive</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="fab fa-gulp"></span></span>
                      <h5 class="fw-bold">Gulp</h5>
                      <p class="text-gray-700 mb-0">Gulp & BrowserSync for a flawless workflow</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="far fa-images"></span></span>
                      <h5 class="fw-bold">Creative rights</h5>
                      <p class="text-gray-700 mb-0">All assets are licensed & free to use</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="far fa-file-alt"></span></span>
                      <h5 class="fw-bold">Documentation</h5>
                      <p class="text-gray-700 mb-0">Everything is well documented</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="fab fa-accessible-icon"></span></span>
                      <h5 class="fw-bold">WCAG Accessibility</h5>
                      <p class="text-gray-700 mb-0">Accessibility oriented design and functionality</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="fab fa-html5"></span></span>
                      <h5 class="fw-bold">W3C Validated</h5>
                      <p class="text-gray-700 mb-0">HTML pages are all valid by W3C Standards</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="fab fa-js-square"></span></span>
                      <h5 class="fw-bold">Vanilla JS</h5>
                      <p class="text-gray-700 mb-0">jQuery is not a required dependency for Volt</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="far fa-calendar-alt"></span></span>
                      <h5 class="fw-bold">Calendar</h5>
                      <p class="text-gray-700 mb-0">Advanced integration with FullCalendar.js</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="fas fa-map-marked-alt"></span></span>
                      <h5 class="fw-bold">MapBox</h5>
                      <p class="text-gray-700 mb-0">Custom integration with markers and cards</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="card shadow-sm mb-4">
                  <div class="px-3 px-lg-4 py-5 text-center">
                      <span class="icon icon-shape icon-shape-primary rounded mb-3"><span class="fas fa-pen-fancy"></span></span>
                      <h5 class="fw-bold">Design</h5>
                      <p class="text-gray-700 mb-0">Crafted by professional UI/UX designers</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="pt-6">
  <div class="container border-bottom pb-6">
      <div class="row justify-content-center mb-5 mb-lg-6">
          <div class="col-12 text-center">
              <h2 class="h1 px-lg-5">What's inside?</h2>
              <p class="lead px-lg-8">We have carefully crafted the perfect folder structure to ensure that finding the files you're looking for are easily reachable and well organized.</p>
          </div>
      </div>
      <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-6 mb-4">
              <div class="d-none d-lg-block mt-5">
                  <h4>You need only HTML, CSS and Javascript?</h4>
                  <p class="lead mb-4">Don't worry, we got you covered. We have a folder called <code class="text-danger">html&css</code> which includes only the basic HTML5, CSS3 and Javascript technologies.</p>
                  <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/getting-started/file-structure/" target="_blank" class="btn btn-md btn-primary"><span class="fas fa-book me-2"></span> Docs 3</a>
              </div>
          </div>
          <div class="col-12 col-lg-6 order-lg-first d-flex justify-content-center">
              <ul class="d-block fmw-100 list-unstyled folder-structure">
                  <li data-bs-toggle="tooltip" data-bs-placement="left" title="Main folder that you will be working with"><i class="fas fa-folder me-2"></i>src</li>
                  <li>
                      <ul class="list-unstyled ps-4">
                          <li data-bs-toggle="tooltip" data-bs-placement="left" title="CSS, Images, Fonts and Javascript"><i class="fas fa-folder me-2"></i> assets</li>
                          <li data-bs-toggle="tooltip" data-bs-placement="left" title="HTML templates"><i class="fas fa-folder me-2"></i> pages</li>
                          <li data-bs-toggle="tooltip" data-bs-placement="left" title="Partials are HTML snippets that are included in multiple pages, such as the menu or footer"><i class="fas fa-folder me-2"></i> partials</li>
                          <li data-bs-toggle="tooltip" data-bs-placement="left" title="Sass source files"><i class="fas fa-folder me-2"></i> scss</li>
                          <li data-bs-toggle="tooltip" data-bs-placement="left" title="The page you're looking at right now. Call it inception."><i class="fab fa-html5 me-2 text-secondary"></i> index.html</li>
                      </ul>
                  </li>
                  <li data-bs-toggle="tooltip" data-bs-placement="left" title="Rocket with only HTML, CSS and Javascript"><i class="fas fa-folder me-2 text-muted"></i> html&css</li>
                  <li data-bs-toggle="tooltip" data-bs-placement="left" title="Temporary folder that is created when serving files with BrowserSync"><i class="fas fa-folder text-muted me-2"></i>.temp</li>
                  <li data-bs-toggle="tooltip" data-bs-placement="left" title="Minified version of the project"><i class="fas fa-folder me-2 text-muted"></i> dist</li>
                  <li data-bs-toggle="tooltip" data-bs-placement="left" title="Project dependencies from package.json"><i class="fas fa-folder text-muted me-2"></i> node_modules
                  </li>
                  <li data-bs-toggle="tooltip" data-bs-placement="left" title="Development workflow commands. We have them well documented."><i class="fab fa-js-square me-2 text-warning"></i> gulpfile.js</li>
                  <li data-bs-toggle="tooltip" data-bs-placement="left" title="Project details and dependencies."><i class="fas fa-file-code me-2 text-tertiary"></i> package.json</li>
                  <li data-bs-toggle="tooltip" data-bs-placement="left" title="No project can miss a README :)"><i class="fas fa-file-code me-2 text-tertiary"></i> README.md</li>
                  <li data-bs-toggle="tooltip" data-bs-placement="left" title="This file ensures that generated files and folder are ignored by Git. (eg. node_modules)">
                      <i class="fas fa-file-code me-2 text-tertiary"></i> .gitignore</li>
              </ul>
          </div>
          <div class="col-12 mt-5 d-lg-none">
              <h5>You need only HTML, CSS and Javascript?</h5>
              <p>Don't worry, we got you covered. We have a folder called <code class="text-danger">html&css</code> which includes only the basic HTML5, CSS3 and Javascript technologies.</p>
          </div>
      </div>
  </div>
</section>
<section class="pt-6">
  <div class="container">
      <div class="row justify-content-center text-center mb-5">
          <div class="col-12">
              <h2 class="h1 fw-light mb-3">Less <span class="fw-bold">work</span>, more <span class="fw-bold">flow</span>.</h2>
              <p class="lead px-lg-8">
                  Boost productivity with BrowserSync. Sass changes are reflected instantly and pages scroll and refresh on devices as you work.
              </p>
          </div>
      </div>
      <div class="row justify-content-center mb-6">
          <div class="col-md-10 col-xl-9">
              <div class="position-relative">
                  <div class="card shadow-sm p-4 text-dark mb-2">
                      <div class="mb-3">
                          <div class="fw-bolder">&gt; $ npm install</div>
                          <div class="text-gray-700">Everything’s installed!</div>
                      </div>
                      <div class="mb-3">
                          <div class="fw-bolder">&gt; $ gulp</div>
                          <div class="text-gray-700">SCSS watching</div>
                          <div class="text-gray-700">LiveReload started</div>
                          <div class="text-gray-700">Opening localhost:3000</div>
                      </div>
                      <div>
                          <div class="fw-bolder">&gt; $ that's it?</div>
                          <div class="text-gray-700">It's that simple!</div>
                      </div>
                  </div>
              </div>
              <p class="mt-4 text-gray-600 text-center">Looks unfamiliar? Don’t worry! Our <a class="text-dark text-underline fw-bold" href="https://themesberg.com/docs/rocket/getting-started/overview/" target="_blank">documentation</a> has got you covered.</p>
          </div>
      </div>
  </div>
</section>
<section class="pt-4">
  <div class="container border-bottom pb-6">
      <div class="row">
          <div class="col-12 col-lg-8">
              <h2 class="h1 fw-bold mb-3">Free Demo</h2>
              <p class="lead mb-4">Would you like to test out Volt Bootstrap 5 Dashboard before purchasing it? You're in luck, because we have an open source version of Volt that you can set up and try it out.</p>
              <div class="d-flex align-items-center">
                  <a href="https://github.com/themesberg/volt-bootstrap-5-dashboard" target="_blank" class="btn btn-dark me-4">
                      View on GitHub
                  </a>
                  <!-- Place this tag where you want the button to render. -->
                  <div class="mt-2">
                      <!-- Place this tag where you want the button to render. -->
                      <a class="github-button" href="https://github.com/themesberg/volt-bootstrap-5-dashboard" data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star /themesberg/volt-bootstrap-5-dashboard on GitHub">Star</a>                            
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-4">
              <div class="github-big-icon">
                  <span class="fab fa-github"></span>
              </div>
            </div>
      </div>
      <div class="row mt-6">
          <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
              <div class="card shadow-sm p-4">
                  <!-- Header -->
                  <div class="card-header border-0 pb-0">
                      <span class="d-block">
                          <span class="h2">Free Demo</span>
                      </span>
                  </div>
                  <!-- End Header -->
                  <!-- Content -->
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item border-0 ps-0"><strong>100</strong> Components</li>
                          <li class="list-group-item border-0 ps-0"><strong>11</strong> Example Pages</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-danger me-2"><span class="fas fa-times-circle"></span></span> Advanced sidebar</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-danger me-2"><span class="fas fa-times-circle"></span></span> Kanban Drag and Drop</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-danger me-2"><span class="fas fa-times-circle"></span></span> MapBox</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-danger me-2"><span class="fas fa-times-circle"></span></span> Calendar</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-danger me-2"><span class="fas fa-times-circle"></span></span> SVG Map</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-danger me-2"><span class="fas fa-times-circle"></span></span> Widgets</li>
                          <li class="list-group-item border-0 ps-0 pb-0"><span class="icon-danger me-2"><span class="fas fa-times-circle"></span></span> Premium Support</li>
                      </ul>
                  </div>
                  <!-- End Content -->
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
              <div class="card shadow-sm p-4 py-5 mt-lg-n5">
                  <!-- Header -->
                  <div class="card-header border-0 pb-0">
                      <span class="d-block">
                          <span class="h2 fw-boldp">Pro Version</span>
                      </span>
                  </div>
                  <!-- End Header -->
                  <!-- Content -->
                  <div class="card-body">
                      <ul class="list-group list-group-flush price-list">
                          <li class="list-group-item border-0 ps-0"><strong>1000+</strong> Components</li>
                          <li class="list-group-item border-0 ps-0"><strong>21</strong> Example Pages</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-success me-2"><span class="fas fa-check-circle"></span></span> Advanced sidebar</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-success me-2"><span class="fas fa-check-circle"></span></span> Kanban Drag and Drop</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-success me-2"><span class="fas fa-check-circle"></span></span> MapBox</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-success me-2"><span class="fas fa-check-circle"></span></span> Calendar</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-success me-2"><span class="fas fa-check-circle"></span></span> SVG Map</li>
                          <li class="list-group-item border-0 ps-0"><span class="icon-success me-2"><span class="fas fa-check-circle"></span></span> Widgets</li>
                          <li class="list-group-item border-0 border-0 ps-0 pb-0"><span class="icon-success me-2"><span class="fas fa-check-circle"></span></span> Premium Support</li>
                      </ul>
                  </div>
                  <!-- End Content -->
              </div>
          </div>
      </div>
  </div>
</section>
<section class="py-6">
  <div class="container">
      <div class="row justify-content-center mb-6">
          <div class="col-12 col-lg-9 text-center">
              <h2 class="display-3 mb-4">Choose the right plan for your business</h2>
              <p class="lead">You have at least <span class="fw-bold text-primary">Free 6 Months of Updates</span> and <span class="fw-bold text-primary">Premium Support</span> on each package. You also have 30 days to request a refund if you're not happy with your purchase.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-lg-6 col-xl-4 mb-5">
              <div class="card mb-3 px-2">
                  <div class="card-header p-4">
                      <div class="d-flex mb-3"> <span class="h5 mb-0">$</span> <span class="price display-2 fw-bolder mb-0 text-dark">69</span> </div>
                      <h3 class="h4 mb-3 text-black">Freelancer</h3>
                      <p class="fw-normal font-small mb-0">Great for personal use and for your side projects.</p>
                  </div>
                  <div class="card-body py-4">
                      <ul class="list-group simple-list">
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Full documentation</li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Domains: <strong>1</strong></li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Team size: <strong>1 developer</strong></li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Premium support: <strong>6 months</strong></li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Free updates: <strong>6 months</strong></li>
                      </ul>
                  </div>
                  <div class="card-footer d-grid border-0 pt-0 px-4 pb-4"><a href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard#pricing" target="_blank" class="btn btn-dark"> Buy now <span class="icon icon-xs ms-3"></span> </a> </div>
              </div> 
              <a href="https://themesberg.com/licensing#freelancer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" class="font-small text-gray-700 text-center d-block mt-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="fas fa-balance-scale me-2"></span>Freelancer License</a> 
          </div>
          <div class="col-12 col-lg-6 col-xl-4 mb-5">
              <div class="card mb-3 px-2">
                  <div class="card-header p-4">
                      <div class="d-flex mb-3"> <span class="h5 mb-0">$</span> <span class="price display-2 fw-bolder mb-0 text-primary">299</span> </div>
                      <h3 class="h4 mb-3 text-black">Company</h3>
                      <p class="fw-normal font-small mb-0">Relevant for multiple users and extended support.</p>
                  </div>
                  <div class="card-body py-4">
                      <ul class="list-group simple-list">
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Full documentation</li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Domains: <strong>Unlimited</strong></li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Team size: <strong>1-5 developers</strong></li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Premium support: <strong>12 months</strong></li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Free updates: <strong>lifetime</strong></li>
                      </ul>
                  </div>
                  <div class="card-footer d-grid border-0 pt-0 px-4 pb-4"><a href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard#pricing" target="_blank" class="btn btn-primary rounded"> Buy now <span class="icon icon-xs ms-3"></span> </a> </div>
              </div> 
              <a href="https://themesberg.com/licensing#company" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" class="font-small text-gray-700 text-center d-block mt-4" title="Something unclear? Click to read the full Freelancer license."><span class="fas fa-balance-scale me-2"></span>Company License</a> 
          </div>
          <div class="col-12 col-lg-6 col-xl-4 mb-5">
              <div class="card mb-3 px-2">
                  <div class="card-header p-4">
                      <div class="d-flex mb-3"> <span class="h5 mb-0">$</span> <span class="price display-2 fw-bolder mb-0 text-dark">799</span> </div>
                      <h3 class="h4 mb-3 text-black">Enterprise</h3>
                      <p class="fw-normal font-small mb-0">Large scale uses and extended redistribution rights.</p>
                  </div>
                  <div class="card-body py-4">
                      <ul class="list-group simple-list">
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Full documentation</li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Domains: <strong>Unlimited</strong></li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Team size: <strong>Unlimited</strong></li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Premium support: <strong>24 months</strong></li>
                          <li class="list-group-item fw-normal border-0"><span class="icon-success me-2"><span class="fas fa-check"></span></span>Free updates: <strong>lifetime</strong></li>
                      </ul>
                  </div>
                  <div class="card-footer d-grid border-0 pt-0 px-4 pb-4"><a href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard#pricing" target="_blank" class="btn btn-dark rounded"> Buy now <span class="icon icon-xs ms-3"></span> </a> </div>
              </div> 
              <a href="https://themesberg.com/licensing#enterprise" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" class="font-small text-gray-700 text-center d-block mt-4" data-original-title="Something unclear? Click to read the full Freelancer license."><span class="fas fa-balance-scale me-2"></span>Enterprise License</a> 
          </div>
      </div>
  </div>
</section>
<section class="pb-5">
  <div class="container border-bottom pb-6">
      <h2 class="border-bottom mb-5 pb-3">Got questions?</h2>
      <div class="row faq-section">
         <div class="col-12 col-md-6">
            <div class="mb-5">
               <h4 class="h5">How do I use the license that I got with my purchase?</h4>
               <p>You will receive a code in your order receipt. You do not need to insert it anywhere. Please keep it in your records for any future inquiry from us. If you create a client project, you can either keep this code or you can send us an email using our <a class="text-dark fw-bold text-underline" href="https://themesberg.com/contact">contact page</a>, and we will transfer the license to your client, provided that they have an account on our website.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">What is the difference between the Freelancer/Company/Enterprise licenses?</h4>
               <p>The Freelancer license is aimed at people who work on their own. It grants you the right to use the purchased product only for one project (either yours or for a client).</p>
               <p>The Company license is aimed at agencies or larger teams. It grants you the right to create other licensed products base on the template that you purchase from us.</p>
               <p>The Enterprise license is aimed at large companies with multiple projects. It grants you the right to create any kind of software, SaaS, digital products and sell them.</p>
               <p>All the differences between the types of licenses are <a class="text-dark fw-bold text-underline" href="https://themesberg.com/licensing">available here</a>.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">Will I get an update to Bootstrap 5 for the Bootstrap 4 themes?</h4>
               <p>Although two of the products (Pixel Pro and Volt Pro) are already available in Bootstrap 5, we will update all of the themes in this Cyber Monday promotion to Bootstrap 5 in the next 6 months for free.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">Are the themes available with only classic CSS and without Sass as well?</h4>
               <p>Yes, they are. Each theme has a <code class="text-dark fw-bold">html&amp;css</code> folder which contains the theme with classic HTML, CSS, and Javascript files.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">Do these themes work with Wordpress?</h4>
               <p>These products are not Wordpress themes, however, they can be integrated in Wordpress by an experienced web developer.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">Are the images, fonts, and icons free to use?</h4>
               <p>The images, fonts, icons and every other creative element for each theme can be freely used in your project under our licensing terms.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">If I purchased a Freelancer/Company License, how can I upgrade to the Company/Enterprise License?</h4>
               <p>In case you have already purchased a license, but you want to upgrade, you can just send us a message using the <a class="text-dark fw-bold text-underline" href="https://themesberg.com/contact" target="_blank">contact page</a> and we will send you a discount code so you will only pay the difference for the upgrade.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">What does the Included Documentation feature refer to?</h4>
               <p>It means that each theme within the Cyber Monday promotion has a thorough and up to date documentation on how to get started with the product and each components and plugin is properly explained.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">What happens after the 6/12/24 months of Free Updates expires? Can I download the new updates after this period?</h4>
               <p>At the end of this period, you will need to renew your license (purchase the product again) to get Support.</p>
            </div>
            <div>
               <h4 class="h5">Can I remove the copyright notice from the files?</h4>
               <p>You can remove the copyright notice (if it's a premium item), but then you will need to create a separate <code class="text-dark fw-bold">.txt</code> file called <code class="text-dark fw-bold">LICENSE.txt</code>, and copy paste the copyright text in there. This file should be added to the root folder of your project.</p>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="mb-5">
               <h4 class="h5">What does the full code feature refer to?</h4>
               <p>It refers to the fact that you will get all of the Sass, HTML, Javascript, and CSS files of the template.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">What does the Domains number refer to?</h4>
               <p>Depending on the license you purchase, you can use our products to either code a website/web application for you, for a client, or for multiple clients, which will be hosted on one or multiple domains:</p>
               <p>For example, if you purchased the Freelancer License, you can create only one website (for you or a client). If you want to create multiple websites, you will need a bigger license (like Company or Enterprise). Same, if you have multiple subdomains, like test.yoursite.com (http://test.yoursite.com/) or dev.yoursite.com (http://dev.yoursite.com/), you can use the Freelancer or Startup License.</p>
               <p>If you have a complex application like a SaaS and have client1.yoursite.com (http://client1.yoursite.com/) and client2.yoursite.com (http://client2.yoursite.com/) and clientx.yoursite.com, (http://clientx.yoursite.com/) you will need a multi-domain license like Company or Enterprise.</p>
               <p>For more information about our licenses, you can <a class="text-dark fw-bold text-underline" href="https://themesberg.com/licensing">check it here</a>.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">What does the Team Size refer to?</h4>
               <p>The Team size for each license reflects the number of people who can access the product.</p>
               <p>For example, if you buy the Freelancer license, only one person can use the product. If you have a team of 6-10 people, you will need the Company license.</p>
               <p>For bigger teams of 5 developers, you will need to purchase an Enterprise License.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">What does the Tech Support refer to?</h4>
               <p>Depending on your license type, you have a fixed period when you can submit any ticket to us regarding product functionalities and bug fixes (learning and tutorials related requests are not included). You will get responses directly from the product's creators in 24 hours (during business days):</p>
               <p>If you purchase the Freelancer license, you will receive Support from us for 6 months. If you need 12 months of Support, you will need the Company license.</p>
               <p>If you purchase the Enterprise license, you will benefit from 24 months of Support. At the end of this period, you will need to renew your license (purchase the product again) to get Support.</p>
            </div>
            <div class="mb-5">
               <h4 class="h5">What does the Free Updates refer to?</h4>
               <p>Depending on your license type, you have a determined period when you receive product Updates that include bug fixes and new features:</p>
               <p>Freelancer: You will receive Free Updates for 6 months. Company: You will receive Free Updates for 12 months. Enterprise: You will benefit from 24 months of Free Updates.</p>
            </div>
            <div>
               <h4 class="h5">Do you have a question?</h4>
               <p class="mb-0">Feel free to send us a message using the <a class="text-dark fw-bold text-underline" href="https://themesberg.com/contact" target="_blank">contact page</a> and one of our team members will get back to you in the shortest time possible.</p>
            </div>
         </div>
      </div>
      <div class="row mt-lg-5 mt-5">
          <div class="col text-center">
              <p class="text-italic">Didn't find what you were looking for? No biggie!</p>
              <a href="https://themesberg.com/contact" class="btn btn-sm btn-secondary" target="_blank">Contact us</a>
          </div>
      </div>
  </div>
</section>