<section class="section-header pt-7 pb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h1 class="display-1 fw-bold mb-3">Glassmorphism UI</h1>
                <p class="mb-4 fw-normal lead pe-lg-12">Get started with a fully coded admin dashboard UI interface
                    featuring over 25 pages to kickstart your web application and save hunders of hours of boilerplate
                    coding</p>
                <a href="./dashboard" class="btn btn-lg btn-primary me-4">Get started</a>
            </div>
        </div>
    </div>
</section>