<section class="bg-white pt-16 pb-0 lg:py-24" id="features">
    <div class="container px-4 lg:px-12 mx-auto">
        <h2 class="text-3xl lg:text-6xl font-bold text-gray-900 mb-6">27 hand-crafted pages</h2>
        <p class="text-gray-600 text-xl lg:text-2xl mb-10">The structure of the pages available in Flowbite are set up using the auto layout feature from Figma, so that changing the order and width of columns and rows will be easy to do so.</p>
        <div class="lg:py-36 xl:py-64 relative">
            <picture>
                <source media="(min-width: 1024px)" srcSet="" />
                <source media="(min-width: 640px)" srcSet="" />
                <source srcSet="" />
                <img src="" class="lg:absolute lg:top-1/2 lg:transform lg:-translate-y-1/2 lg:z-20 lg:left-1/2 lg:-translate-x-1/2 lg:px-8" alt="Tailwind Figma Pages" />
            </picture>
            <div class="hidden lg:block bg-gray-100 rounded-3xl w-full h-80 z-0"></div>
        </div>
    </div>
</section>