<section class="bg-gray-50 py-16 lg:py-24" id="pricing">
    <div class="container px-4 lg:px-12 mx-auto">
        <h2 class="text-3xl lg:text-5xl font-bold text-center text-gray-900 mb-4">Choose the right plan for your business</h2>
        <p class="text-gray-500 text-lg text-center mb-0 lg:mb-12">Used by freelancer designers, developers, and companies all over the world</p>
        <div class="grid xl:grid-cols-3 gap-8 mb-12">
            <div class="rounded-lg bg-white py-6 lg:py-8 px-6 lg:px-10 shadow mt-8">
                <h3 class="text-gray-900 uppercase font-semibold text-xl text-center mb-6">Figma files</h3>
                <dl>
                    <dt class="sr-only">Price</dt>
                    <dd class="mb-6">
                        <div class="flex justify-center content-center mb-8">
                            <span class="text-gray-900 font-extrabold text-6xl mr-2">$129</span>
                            <span class="flex-none self-center text-gray-900 text-2xl font-semibold">USD</span>
                        </div>
                    </dd>
                    <dt class="sr-only">Features</dt>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">All Figma design assets</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Lifetime access</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Support from the authors</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Use on unlimited projects</span>
                    </dd>
                    <dd class="flex mb-20">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Free updates based on roadmap</span>
                    </dd>
                    <button class="block text-center text-white bg-blue-600 hover:bg-blue-700 font-semibold rounded-xl text-base px-6 py-3 w-full">Get started</button>
                </dl>
            </div>
            <div class="rounded-lg bg-white py-6 lg:py-8 px-6 lg:px-10 shadow row-span-2">
                <h3 class="text-gray-900 uppercase font-semibold text-xl text-center mb-6">Figma files + Tailwind CSS code</h3>
                <dl>
                    <dt class="sr-only">Price</dt>
                    <dd class="mb-6">
                        <div class="flex justify-center content-center mb-8">
                            <del class="text-gray-600 font-normal">$278</del>
                            <ins class="text-gray-900 font-extrabold text-6xl mr-2 no-underline">$189</ins>
                            <span class="flex-none self-center text-gray-900 text-2xl font-semibold">USD</span>
                        </div>
                    </dd>
                    <dt class="sr-only">Features</dt>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">All Figma design assets</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Pre-order Tailwind CSS code</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Lifetime access</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Support from the authors</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Use on unlimited projects</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Free updates based on roadmap</span>
                    </dd>
                    <dd class="flex mb-8">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Pre-order only extra 5 pages and UI elements</span>
                    </dd>
                    <button class="block text-center text-white bg-blue-600 hover:bg-blue-700 font-semibold rounded-xl text-base px-6 py-3 w-full mb-8">Get started and pre-order</button>
                    <div class="text-center">
                        <span class="bg-gray-50 text-gray-600 text-sm rounded-xl font-medium py-2 px-3">
                            <svg class="w-4 h-4 inline mr-2 mb-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path></svg>
                            Have a team? <a href="#faq" class="text-blue-600 font-medium">View team pricing <svg class="w-4 h-4 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clipRule="evenodd"></path></svg></a>
                        </span>
                    </div>
                </dl>
            </div>
            <div class="rounded-lg bg-white py-6 lg:py-8 px-6 lg:px-10 shadow lg:mt-8">
                <h3 class="text-gray-900 uppercase font-semibold text-xl text-center mb-6">Tailwind CSS code</h3>
                <dl>
                    <dt class="sr-only">Price</dt>
                    <dd class="mb-6">
                        <div class="flex justify-center content-center mb-8">
                            <del class="text-gray-600 font-normal">$149</del>
                            <ins class="text-gray-900 font-extrabold text-6xl mr-2 no-underline">$119</ins>
                            <span class="flex-none self-center text-gray-900 text-2xl font-semibold">USD</span>
                        </div>
                    </dd>
                    <dt class="sr-only">Features</dt>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Fully coded in Tailwind CSS</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Lifetime access</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Support from the authors</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Use on unlimited projects</span>
                    </dd>
                    <dd class="flex mb-4">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Free updates based on roadmap</span>
                    </dd>
                    <dd class="flex mb-8">
                        <svg class="w-6 h-6 text-green-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                        <span class="text-gray-600 font-normal">Pre-order only extra 3 pages and UI elements</span>
                    </dd>
                    <button class="block text-center text-white bg-gray-700 hover:bg-gray-800 font-semibold rounded-xl text-base px-6 py-3 w-full">Pre-order</button>
                    <p class="text-gray-400 text-sm mt-6 italic text-center">Arrives on 25th of September, 2021</p>
                </dl>
            </div>
        </div>
        <div class="w-full p-6 lg:p-10 bg-gray-100 shadow rounded-lg flex flex-col lg:flex-row lg:justify-between">
            <div class="flex-1">
                <span class="bg-purple-100 text-purple-800 text-sm rounded-xl font-medium py-2 px-3">
                    <svg class="w-4 h-4 inline mr-2 mb-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clipRule="evenodd"></path><path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path></svg>
                    Free version
                </span>
                <p class="hidden lg:block text-gray-600 text-lg font-normal max-w-6xl mt-6">We built a free and open-source version under the MIT license for Flowbite so you can test it out on your projects before commiting to the full version. You can get the files from the official <a href="https://github.com/themesberg/tailwind-figma" target="_blank" rel="noreferrer" class="text-gray-700 font-medium hover:text-gray-700 hover:underline">Github repository</a> or from the <a href="https://www.figma.com/community/file/973638860086718856" target="_blank" rel="noreferrer" class="text-gray-700 font-medium hover:text-gray-700 hover:underline">Figma community</a>.</p>
                <p class="lg:hidden text-gray-600 text-lg font-normal max-w-6xl mt-6">Get the free version from the Figma Community.</p>
            </div>
            <a href="https://www.figma.com/community/file/973638860086718856" target="_blank" rel="noreferrer" class="text-center text-white bg-gray-700 hover:bg-gray-800 font-semibold rounded-xl text-base px-6 py-3 lg:self-center flex-none mt-6 lg:mt-0 flex items-center justify-center">Get now <svg class="w-5 h-5 inline ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg></a>
        </div>
    </div>
</section>