<section class="bg-white py-16 lg:py-24" id="roadmap">
    <div class="container px-4 lg:px-12 mx-auto">
        <h2 class="text-3xl lg:text-6xl font-bold text-gray-900 mb-6">Roadmap</h2>
        <p class="text-gray-600 text-xl lg:text-2xl mb-16">Flowbite is a project that will be maintained over the long term, that is why we have laid out the following roadmap for new features and additions. Ultimately, all Figma design files will be coded in Tailwind CSS.</p>
        <div class="grid lg:grid-cols-2 2xl:grid-cols-3 gap-8">
            <div class="bg-gray-50 rounded-2xl py-12 lg:py-16 px-6 lg:px-11 border-2 border-gray-300 relative mb-6 xl:mb-0">
                <span class="bg-gray-100 text-gray-800 text-sm rounded-xl font-medium py-2 px-3 absolute -top-4 left-1/2 transform -translate-x-1/2">
                    <svg class="w-4 h-4 inline mr-2 mb-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fillRule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clipRule="evenodd"></path></svg>
                    Phase 1
                </span>
                <div class="flex items-center mb-4">
                    <div class="h-8 w-8 rounded-full bg-blue-200 flex justify-center items-center mr-4">
                        <svg class="w-6 h-6 text-blue-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd"></path></svg>
                    </div>
                    <h3 class="font-bold text-blue-600 text-xl">Figma base project</h3>
                </div>
                <ul class="list-disc pl-16 mb-8">
                    <li class="text-blue-600">Style guideline</li>
                    <li class="text-blue-600">Auto layout setup</li>
                    <li class="text-blue-600">UI components and variants</li>
                    <li class="text-blue-600">Application UI pages</li>
                    <li class="text-blue-600">Responsive interface for mobile and tablet devices</li>
                </ul>
                <div class="flex items-center mb-4">
                    <div class="h-8 w-8 rounded-full bg-gray-200 flex justify-center items-center mr-4">
                        <svg class="w-4 h-4 text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clipRule="evenodd"></path></svg>
                    </div>
                    <h3 class="font-bold text-gray-600 text-xl">Application UI code in Tailwind</h3>
                </div>
                <ul class="list-disc pl-16 mb-8">
                    <li class="text-gray-600">Tailwind CSS base project</li>
                    <li class="text-gray-600">Setup style guidelines</li>
                    <li class="text-gray-600">Code the UI elements</li>
                    <li class="text-gray-600">Code the Application UI pages</li>
                    <li class="text-gray-600">Responsive interface</li>
                    <li class="text-gray-600">Build documentation</li>
                    <li class="text-gray-600">Test for production mode and browsers</li>
                    <li class="text-gray-600">Optimize speed</li>
                </ul>
                <div class="flex items-center mb-4">
                    <div class="h-8 w-8 rounded-full bg-gray-200 flex justify-center items-center mr-4">
                        <svg class="w-4 h-4 text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clipRule="evenodd"></path></svg>
                    </div>
                    <h3 class="font-bold text-gray-600 text-xl">Dark version</h3>
                </div>
                <ul class="list-disc pl-16">
                    <li class="text-gray-600">Build a dark version in Figma</li>
                    <li class="text-gray-600">Integrate the dark version in Tailwind CSS</li>
                    <li class="text-gray-600">Use Figma constraints and adaptive layout</li>
                </ul>
            </div>
            <div class="bg-gray-50 rounded-2xl py-12 lg:py-16 px-6 lg:px-11 border-2 border-gray-300 relative mb-6 xl:mb-0">
                <span class="bg-gray-100 text-gray-800 text-sm rounded-xl font-medium py-2 px-3 absolute -top-4 left-1/2 transform -translate-x-1/2">
                    <svg class="w-4 h-4 inline mr-2 mb-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fillRule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clipRule="evenodd"></path></svg>
                    Phase 2
                </span>
                <div class="flex items-center mb-4">
                    <div class="h-8 w-8 rounded-full bg-gray-200 flex justify-center items-center mr-4">
                        <svg class="w-4 h-4 text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clipRule="evenodd"></path></svg>
                    </div>
                    <h3 class="font-bold text-gray-600 text-xl">Marketing UI design in Figma</h3>
                </div>
                <ul class="list-disc pl-16 mb-8">
                    <li class="text-gray-600">Research and conceptualize sections and pages for marketing purposes (ie. landing pages, hero sections, pricing sections)</li>
                    <li class="text-gray-600">Build special UI components and variants</li>
                    <li class="text-gray-600">Create modular sections that can be later used to build the final pages</li>
                    <li class="text-gray-600">Build marketing UI example pages</li>
                    <li class="text-gray-600">Responsive interface for mobile and tablet devices</li>
                </ul>
                <div class="flex items-center mb-4">
                    <div class="h-8 w-8 rounded-full bg-gray-200 flex justify-center items-center mr-4">
                        <svg class="w-4 h-4 text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clipRule="evenodd"></path></svg>
                    </div>
                    <h3 class="font-bold text-gray-600 text-xl">Marketing UI code in Tailwind</h3>
                </div>
                <ul class="list-disc pl-16">
                    <li class="text-gray-600">Code the new UI elements</li>
                    <li class="text-gray-600">Code the new marketing UI sections</li>
                    <li class="text-gray-600">Code the example pages</li>
                    <li class="text-gray-600">Responsive design based on Figma</li>
                    <li class="text-gray-600">Incorporate new UI elements and sections into the documentation</li>
                    <li class="text-gray-600">Test for production mode and browsers</li>
                    <li class="text-gray-600">Optimize speed</li>
                </ul>
            </div>
            <div class="bg-gray-50 rounded-2xl py-12 lg:py-16 px-6 lg:px-11 border-2 border-gray-300 relative">
                <span class="bg-gray-100 text-gray-800 text-sm rounded-xl font-medium py-2 px-3 absolute -top-4 left-1/2 transform -translate-x-1/2">
                    <svg class="w-4 h-4 inline mr-2 mb-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fillRule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clipRule="evenodd"></path></svg>
                    Phase 3
                </span>
                <div class="flex items-center mb-4">
                    <div class="h-8 w-8 rounded-full bg-gray-200 flex justify-center items-center mr-4">
                        <svg class="w-4 h-4 text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clipRule="evenodd"></path></svg>
                    </div>
                    <h3 class="font-bold text-gray-600 text-xl">E-Commerce UI design in Figma</h3>
                </div>
                <ul class="list-disc pl-16 mb-8">
                    <li class="text-gray-600">Research for high converting UI/UX e-commerce pages</li>
                    <li class="text-gray-600">Create unique e-commerce UI elements and variants</li>
                    <li class="text-gray-600">Build sections that will make up the main pages</li>
                    <li class="text-gray-600">Design example pages for a fully featured e-commerce website</li>
                    <li class="text-gray-600">Responsive interface with a special focus on mobile devices</li>
                </ul>
                <div class="flex items-center mb-4">
                    <div class="h-8 w-8 rounded-full bg-gray-200 flex justify-center items-center mr-4">
                        <svg class="w-4 h-4 text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clipRule="evenodd"></path></svg>
                    </div>
                    <h3 class="font-bold text-gray-600 text-xl">E-Commerce UI code in Tailwind</h3>
                </div>
                <ul class="list-disc pl-16">
                    <li class="text-gray-600">Code the new UI elements based on the Figma design</li>
                    <li class="text-gray-600">Code the e-commerce sections</li>
                    <li class="text-gray-600">Code the e-commerce example pages</li>
                    <li class="text-gray-600">Responsive design for mobile and tablet devices</li>
                    <li class="text-gray-600">Integrate the new elements and sections into the documentation</li>
                    <li class="text-gray-600">Test for production mode and browsers</li>
                    <li class="text-gray-600">Optimize speed</li>
                </ul>
            </div>
        </div>
        <p class="text-gray-400 text-sm mt-8 italic lg:max-w-2xl m-auto text-center">* The blue highlighted area with the "check" sign means that the features have been finished and deployed, the "cog" sign means that we are actively working on it, and the "calendar" sign means that it has been scheduled.</p>
    </div>
</section>