<section class="bg-white pt-16 lg:py-24" id="figma">
    <div class="container px-4 lg:px-12 mx-auto">
        <h2 class="text-3xl lg:text-6xl font-bold text-gray-900 mb-6">Style guideline</h2>
        <p class="text-gray-600 text-xl lg:text-2xl mb-10">The style guideline is the backbone of the Flowbite project, completely identical with the structure of the utility classes from Tailwind CSS. We've covered color styles, typography, avatars, shadows, and many more.</p>
        <div class="flex flex-wrap lg:flex-row lg:items-center lg:mb-10">
            <div class="flex items-center mr-10 lg:mr-20 xl:mr-40 mb-8 lg:mb-0">
                <div class="w-10 h-10 lg:h-12 lg:w-12 rounded-full bg-blue-100 flex justify-center items-center mr-4">
                    <svg class="w-5 lg:w-6 h-5 lg:h-6 text-blue-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clipRule="evenodd"></path></svg>
                </div>
                <span class="text-gray-900 font-bold text-xl">Avatars</span>
            </div>
            <div class="flex items-center mr-10 lg:mr-20 xl:mr-40 mb-8 lg:mb-0">
                <div class="w-10 h-10 lg:h-12 lg:w-12 rounded-full bg-blue-100 flex justify-center items-center mr-4">
                    <svg class="w-5 lg:w-6 h-5 lg:h-6 text-blue-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z"></path></svg>
                </div>
                <span class="text-gray-900 font-bold text-xl">Typography</span>
            </div>
            <div class="flex items-center mr-10 lg:mr-20 xl:mr-40 mb-8 lg:mb-0">
                <div class="w-10 h-10 lg:h-12 lg:w-12 rounded-full bg-blue-100 flex justify-center items-center mr-4">
                    <svg class="w-5 lg:w-6 h-5 lg:h-6 text-blue-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M4 2a2 2 0 00-2 2v11a3 3 0 106 0V4a2 2 0 00-2-2H4zm1 14a1 1 0 100-2 1 1 0 000 2zm5-1.757l4.9-4.9a2 2 0 000-2.828L13.485 5.1a2 2 0 00-2.828 0L10 5.757v8.486zM16 18H9.071l6-6H16a2 2 0 012 2v2a2 2 0 01-2 2z" clipRule="evenodd"></path></svg>
                </div>
                <span class="text-gray-900 font-bold text-xl">Color styles</span>
            </div>
            <div class="flex items-center mb-8 lg:mb-0">
                <div class="w-10 h-10 lg:h-12 lg:w-12 rounded-full bg-blue-100 flex justify-center items-center mr-4">
                    <svg class="w-5 lg:w-6 h-5 lg:h-6 text-blue-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>
                </div>
                <span class="text-gray-900 font-bold text-xl">Shadows</span>
            </div>
        </div>
        <div class="lg:py-12 xl:py-28 2xl:py-48 relative">
            <picture>
                <source media="(min-width: 1024px)" srcSet="" />
                <source media="(min-width: 640px)" srcSet="" />
                <source srcSet="" />
                <img src="" class="lg:absolute lg:top-1/2 lg:transform lg:-translate-y-1/2 lg:z-20 lg:left-1/2 lg:-translate-x-1/2 lg:px-8" alt="Flowbite Style Guide" />
            </picture>
            <div class="hidden lg:block bg-gray-100 rounded-3xl w-full h-80 z-0"></div>
        </div>
    </div>
</section>