<section class="my-8 mb-20 lg:my-24">
    <div class="container px-4 lg:px-12 mx-auto">
        <h2 class="text-3xl lg:text-5xl font-semibold lg:font-bold lg:text-center text-gray-900 mb-12 lg:leading-snug 2xl:px-56">Loved by freelancers and companies all across the globe</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
            <figure>
                <blockquote class="bg-white shadow-md p-8 rounded-xl mb-6">
                    <h3 class="text-gray-900 text-xl font-semibold mb-4">Solid foundation for any project</h3>
                    <p class="text-gray-600 font-normal">"FlowBite provides a robust set of design tokens and components based on the popular Tailwind CSS framework. From the most used UI components like forms and navigation bars to the whole app screens designed both for desktop and mobile, this UI kit provides a solid foundation for any project. <br /> <br />Designing with Figma components that can be easily translated to the utility classes of Tailwind CSS is a huge timesaver!"</p>
                </blockquote>
                <figcaption class="flex flex-col justify-center items-center">
                    <img class="w-14 h-14 rounded-full mb-2" src="" alt="Eugene Fedorenko" />
                    <span class="text-gray-900 text-xl font-medium">Eugene Fedorenko</span>
                    <span class="text-gray-600 text-sm font-normal">Lead designer at Wildbit</span>
                </figcaption>
            </figure>
            <figure>
                <blockquote class="bg-white shadow-md p-8 rounded-xl mb-6">
                    <h3 class="text-gray-900 text-xl font-semibold mb-4">Mindblowing workflow and variants</h3>
                    <p class="text-gray-600 font-normal mb-2">"As someone who mainly designs in the browser, I've been a casual user of Figma, but as soon as I saw and started playing with FlowBite my mind was 🤯.</p>
                    <p class="text-gray-600 font-normal mb-2">Everything is so well structured and simple to use (I've learnt so much about Figma by just using the toolkit).</p>
                    <p class="text-gray-600 font-normal">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application."</p>
                </blockquote>
                <figcaption class="flex flex-col justify-center items-center">
                    <img class="w-14 h-14 rounded-full mb-2" src="" alt="Amrit Nagi" />
                    <span class="text-gray-900 text-xl font-medium">Amrit Nagi</span>
                    <span class="text-gray-600 text-sm font-normal">Founder at TailwindToolbox</span>
                </figcaption>
            </figure>
            <figure>
                <blockquote class="bg-white shadow-md p-8 rounded-xl mb-6">
                    <h3 class="text-gray-900 text-xl font-semibold mb-4">Advanced features for Figma designers</h3>
                    <p class="text-gray-600 font-normal">"This is an excellent product, the components are very well structured, you can change their type, state and size without losing time. <br /> <br /> Also, you can design a ready-made website layout in a short time. I highly recommend it for designers who love Figma."</p>
                </blockquote>
                <figcaption class="flex flex-col justify-center items-center">
                    <img class="w-14 h-14 rounded-full mb-2" src="" alt="Elisa Paduraru" />
                    <span class="text-gray-900 text-xl font-medium">Elisa Păduraru</span>
                    <span class="text-gray-600 text-sm font-normal">Designer at Creative Tim</span>
                </figcaption>
            </figure>
            <figure class="xl:mt-6">
                <blockquote class="bg-white shadow-md p-8 rounded-xl mb-6">
                    <h3 class="text-gray-900 text-xl font-semibold mb-4">Efficient Collaborating</h3>
                    <p class="text-gray-600 font-normal">"This is a very complex and beautiful set of elements. Under the hood it comes with the best things from 2 different worlds: Figma and Tailwind. <br /> <br />You have many examples that can be used to create a fast prototype for your team."</p>
                </blockquote>
                <figcaption class="flex flex-col justify-center items-center">
                    <img class="w-14 h-14 rounded-full mb-2" src="" alt="Alexandru Păduraru" />
                    <span class="text-gray-900 text-xl font-medium">Alexandru Păduraru</span>
                    <span class="text-gray-600 text-sm font-normal">Managing Partner at Creative Tim</span>
                </figcaption>
            </figure>
            <figure class="xl:mt-6">
                <blockquote class="bg-white shadow-md p-8 rounded-xl mb-6">
                    <h3 class="text-gray-900 text-xl font-semibold mb-4">Perfect choice for a SaaS application</h3>
                    <p class="text-gray-600 font-normal">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
                </blockquote>
                <figcaption class="flex flex-col justify-center items-center">
                    <img class="w-14 h-14 rounded-full mb-2" src="" alt="Csaba Kissi" />
                    <span class="text-gray-900 text-xl font-medium">Csaba Kissi</span>
                    <span class="text-gray-600 text-sm font-normal">CTO at Elerion ltd.</span>
                </figcaption>
            </figure>
            <figure class="xl:mt-6">
                <blockquote class="bg-white shadow-md p-8 rounded-xl mb-6">
                    <h3 class="text-gray-900 text-xl font-semibold mb-4">A must-have for designers</h3>
                    <p class="text-gray-600 font-normal">"Using FlowBite has been fantastic for my workflow. It made it really easy to create a very good looking project in no time. <br /> <br /> Every designer should have this in their toolbox!"</p>
                </blockquote>
                <figcaption class="flex flex-col justify-center items-center">
                    <img class="w-14 h-14 rounded-full mb-2" src="" alt="Arnau Ros" />
                    <span class="text-gray-900 text-xl font-medium">Arnau Ros</span>
                    <span class="text-gray-600 text-sm font-normal">Freelance Designer</span>
                </figcaption>
            </figure>
        </div>
    </div>
</section>