@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
              <article class="">
            @Body
        </article>
    </main>
</div>
