.yt-video {
    height: 250px;
}

@media only screen and (min-width: 768px) {
	.yt-video {
		height: 350px;
	}
}

@media only screen and (min-width: 1024px) {
	.yt-video {
		height: 450px;
	}
}

@media only screen and (max-width: 1024px) {
	.collapse.collapsed {
		display: none;
	}
}

#TableOfContents > ul {
	@apply overflow-x-hidden text-gray-500 dark:text-gray-400 font-medium;
}

#TableOfContents > ul > li > a {
	@apply block py-2 transition-colors duration-200 hover:text-gray-900 dark:hover:text-white font-medium;
}

#TableOfContents > ul > li > ul {
	@apply pl-4;
}

#TableOfContents > ul > li > ul > li {
	@apply pb-2;
}

.highlight {
	@apply overflow-hidden;
}

#mainContent > h2 {
	@apply text-2xl font-bold mt-8 mb-4 dark:text-white;
}

#mainContent > h3,
#mainContent > h4 {
	@apply text-xl font-bold mt-8 mb-4 dark:text-white;
}

#mainContent > p {
	@apply text-base font-normal text-gray-600 dark:text-gray-400 mb-4;
}

#mainContent > p > a,
#mainContent > ul > li > a,
#mainContent > ol > li > a {
	@apply text-gray-700 font-semibold dark:text-gray-300 underline decoration-1 underline-offset-2 decoration-blue-600 dark:decoration-blue-500;
}

#mainContent > p > a:hover,
#mainContent > ul > li > a:hover,
#mainContent > ol > li > a:hover {
	@apply decoration-2;
}

#mainContent > p > code,
#mainContent > ul > li > code,
#mainContent > ol > li > code {
	@apply font-mono text-blue-600 dark:text-blue-400 text-sm px-1;
}

#mainContent > ul {
	list-style: disc;
}

#mainContent > ol {
	list-style: decimal;
}

#mainContent > ul,
#mainContent > ol {
	padding-left: 1rem;
}

#mainContent > ul > li,
#mainContent > ol > li {
	@apply text-base font-normal text-gray-600 dark:text-gray-400 mb-4;
}

/* prism styles */

code[class*="language-"],
pre[class*="language-"] {
	color: #c5c8c6;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	@apply font-light;
}

/* without preview */
.highlight pre[class*="language-"] {
	overflow: auto;
	@apply rounded-xl bg-gray-800 p-6 pt-6 m-0 text-sm mb-8 mt-4;
}

/* when after preview */
.code-preview + .code-syntax .highlight pre[class*="language-"] {
	overflow: auto;
	@apply rounded-t-none mt-0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1d1f21;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7c7c7c;
}

.token.punctuation {
	color: #c5c8c6;
}

.namespace {
	opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
	color: #96cbfe;
}

.token.class-name {
	color: #ffffb6;
	text-decoration: underline;
}

.token.boolean,
.token.constant {
	color: #99cc99;
}

.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.number {
	color: #ff73fd;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a8ff60;
}

.token.variable {
	color: #c6c5fe;
}

.token.operator {
	color: #ededed;
}

.token.entity {
	color: #ffffb6;
	cursor: help;
}

.token.url {
	color: #96cbfe;
}

.language-css .token.string,
.style .token.string {
	color: #87c38a;
}

.token.atrule,
.token.attr-value {
	color: #f9ee98;
}

.token.function {
	color: #dad085;
}

.token.regex {
	color: #e9c062;
}

.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

code.language-bash,
pre.language-bash {
	color: white;
}

code.language-javascript {
	color: white;
}

code.language-javascript .token {
	color: #96cbfe;
	background: transparent;
}

code.language-javascript .token.comment {
	color: #c5c8c6;
}

#carbonads * {
	margin: initial;
	padding: initial;
}
#carbonads {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	@apply mt-4 mb-12;
}
#carbonads {
	display: flex;
	max-width: 330px;
	box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
	z-index: 100;
	@apply bg-white dark:bg-gray-800 dark:text-white;
}
#carbonads a {
	color: inherit;
	text-decoration: none;
}
#carbonads a:hover {
	color: inherit;
}
#carbonads span {
	position: relative;
	display: block;
	overflow: hidden;
}
#carbonads .carbon-wrap {
	display: flex;
}
#carbonads .carbon-img {
	display: block;
	margin: 0;
	line-height: 1;
}
#carbonads .carbon-img img {
	display: block;
}
#carbonads .carbon-text {
	font-size: 13px;
	padding: 10px;
	margin-bottom: 16px;
	line-height: 1.5;
	text-align: left;
}
#carbonads .carbon-poweredby {
	@apply bg-gray-100 dark:bg-gray-800;
	display: block;
	padding: 6px 8px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 600;
	font-size: 8px;
	line-height: 1;
	border-top-left-radius: 3px;
	position: absolute;
	bottom: 0;
	right: 0;
}
