.yt-video {
    height: 250px;
}

@media only screen and (min-width: 768px) {
	.yt-video {
		height: 350px;
	}
}

@media only screen and (min-width: 1024px) {
	.yt-video {
		height: 450px;
	}
}

@media only screen and (max-width: 1024px) {
	.collapse.collapsed {
		display: none;
	}
}

#TableOfContents > ul {
	@apply overflow-x-hidden font-medium;
}

#TableOfContents > ul > li {
	@apply py-2;
}

#TableOfContents > ul > li > a {
	@apply block pl-2.5 font-medium border-l text-body hover:text-heading border-buffer duration-200 transition-none hover:border-default after:content-['#'] after:text-fg-brand after:ml-2 after:opacity-0 hover:after:opacity-100 after:transition-opacity after:duration-100;
}

#TableOfContents > ul > li > ul > li > a {
	@apply pl-6 border-l border-buffer duration-200 text-body hover:text-heading transition-none hover:border-default after:content-['#'] after:text-fg-brand after:ml-2 after:opacity-0 hover:after:opacity-100 after:transition-opacity after:duration-100;
}

#TableOfContents > ul > li > ul {
	@apply pt-2;
}

#TableOfContents > ul > li > ul > li {
	@apply py-2;
}

#TableOfContents > ul > li > ul > li:last-of-type {
	@apply pb-0;
}

.highlight {
	@apply overflow-hidden;
}

#mainContent > h2 {
	@apply mt-8 mb-4 text-2xl font-medium text-heading dark:text-white;
}

#mainContent > h3,
#mainContent > h4 {
	@apply mt-8 mb-4 text-xl font-medium text-heading dark:text-white;
}

#mainContent > p {
	@apply mb-4 text-base font-normal text-body;
}

#mainContent > p > a,
#mainContent > ul > li > a,
#mainContent > ol > li > a,
#mainContent > ul > li > p > a,
#mainContent > ol > li > p > a {
	@apply font-medium text-body underline decoration-1 underline-offset-2 decoration-fg-brand;
}

#mainContent > p > a:hover,
#mainContent > ul > li > a:hover,
#mainContent > ol > li > a:hover,
#mainContent > ul > li > p > a:hover,
#mainContent > ol > li > p > a:hover {
	@apply text-heading decoration-2 dark:text-white;
}

#mainContent > p > code,
#mainContent > ul > li > code,
#mainContent > ol > li > code {
	@apply px-1 font-mono text-sm text-fg-brand break-all;
}

#mainContent > ul {
	list-style: disc;
}

#mainContent > ol {
	list-style: decimal;
}

#mainContent p > strong {
	@apply text-heading dark:text-white;
}

#mainContent > ul,
#mainContent > ol {
	padding-left: 1rem;
}

#mainContent > ul > li,
#mainContent > ol > li {
	@apply mb-4 text-base font-normal text-body;
}

/* prism styles */

code[class*="language-"],
pre[class*="language-"] {
	font-family: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	text-shadow: none;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	@apply text-gray-500 dark:text-gray-400 font-normal;
}

/* without preview */
.highlight pre[class*="language-"] {
	overflow: auto;
	@apply p-6 pt-6 m-0 mt-4 mb-8 text-sm bg-neutral-secondary-soft dark:bg-neutral-secondary-soft;
}

[data-code-wrapper] .highlight pre[class*="language-"] {
	@apply my-0;
}

/* when after preview */
.code-preview-wrapper + .code-syntax-wrapper > .code-syntax > .relative > [data-code-wrapper] .highlight pre[class*="language-"],
.code-preview-wrapper + .code-syntax-wrapper > .code-syntax {
	overflow-y: hidden;
	overflow-x: scroll;
	@apply mt-0;
}

.code-preview-wrapper + .code-syntax-wrapper {
	@apply mb-4;
}

.code-preview-wrapper + .code-syntax-wrapper > .code-syntax > .relative > [data-code-wrapper] > .highlight > pre[class*="language-"] {
	@apply p-4 m-0 bg-neutral-secondary-soft dark:bg-neutral-secondary-soft;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	@apply bg-neutral-secondary-soft dark:bg-neutral-secondary-soft;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	@apply text-gray-800 dark:text-gray-400;
}

.token.punctuation {
	@apply text-gray-800 dark:text-gray-400;
}

.namespace {
	opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
	@apply text-pink-700 dark:text-pink-400;
}

.token.class-name {
	@apply text-violet-700 dark:text-violet-400;
	text-decoration: underline;
}

.token.boolean,
.token.constant {
	@apply text-green-600 dark:text-green-400;
}

.token.symbol,
.token.deleted {
	@apply text-red-500 dark:text-red-400;
}

.token.number {
	@apply text-violet-700 dark:text-violet-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	@apply text-sky-600 dark:text-sky-500;
}

.token.variable {
	@apply text-purple-500 dark:text-purple-400;
}

.token.operator {
	@apply text-gray-500 dark:text-gray-400 dark:bg-gray-800;
}

.token.entity {
	@apply text-yellow-400 dark:text-yellow-300;
	cursor: help;
}

.token.url {
	@apply text-brand dark:text-fg-brand;
}

.language-css .token.string,
.style .token.string {
	@apply text-red-500 dark:text-red-400;
}

.token.atrule,
.token.attr-value {
	@apply text-brand dark:text-fg-brand;
}

.token.function {
	@apply text-cyan-700 dark:text-cyan-500;
}

.token.regex {
	color: #e9c062;
}

.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

code.language-bash,
pre.language-bash {
	@apply text-brand dark:text-fg-brand;
}

code.language-javascript {
	@apply text-brand dark:text-fg-brand;
}

code.language-javascript .token.function{
	@apply text-green-500 dark:text-green-300;
}

code.language-javascript .token.punctuation{
	@apply text-gray-500 dark:text-gray-400;
}

code.language-javascript .token.keyword{
	@apply text-pink-500 dark:text-pink-400;
}

code.language-javascript .token.comment{
	@apply text-gray-500 dark:text-gray-500;
}

code.language-javascript .token.string{
	@apply text-purple-600 dark:text-purple-400;
}

code.language-javascript .token.class-name{
	@apply text-orange-400 dark:text-orange-300;
}

code.language-javascript .token {
	background: transparent;
}

/* language html */
code.language-html .token.tag{
	@apply text-fuchsia-700 dark:text-fuchsia-400;
}
code.language-html .token.attr-value{
	@apply text-brand dark:text-fg-brand;
}
code.language-html .token.punctuation{
	@apply text-gray-400 dark:text-gray-500;
}
code.language-html .token.attr-name{
	@apply text-green-600 dark:text-green-400;
}
code.language-html .token.comment{
	@apply text-gray-400 dark:text-gray-500;
}

#carbonads * {
	margin: initial;
	padding: initial;
}
#carbonads {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	@apply m-0;
}
#carbonads {
	display: flex;
	max-width: 330px;
	box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
	z-index: 100;
	@apply bg-white dark:bg-gray-800 dark:text-white;
}
#carbonads a {
	color: inherit;
	text-decoration: none;
}
#carbonads a:hover {
	color: inherit;
}
#carbonads span {
	position: relative;
	display: block;
	overflow: hidden;
}
#carbonads .carbon-wrap {
	display: flex;
}
#carbonads .carbon-img {
	display: block;
	margin: 0;
	line-height: 1;
}
#carbonads .carbon-img img {
	display: block;
}
#carbonads .carbon-text {
	font-size: 13px;
	padding: 10px;
	margin-bottom: 16px;
	line-height: 1.5;
	text-align: left;
}
#carbonads .carbon-poweredby {
	@apply bg-gray-100 dark:bg-gray-800;
	display: block;
	padding: 6px 8px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 600;
	font-size: 8px;
	line-height: 1;
	/* border-left-radius: 3px; */
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Search */

.DocSearch.DocSearch-Button {
	@apply p-3 m-0 md:w-52 border-buffer items-center justify-center focus:outline-none focus:ring-4 focus:ring-tertiary md:justify-between h-[36px] w-[36px] md:bg-neutral-secondary-soft bg-neutral-primary rounded-base border md:border-default md:border-solid shadow-none xl:pl-3 flex hover:bg-tertiary xl:w-64 hover:shadow-none focus:shadow-none;
}

.DocSearch-Button-Placeholder {
	@apply text-sm font-normal text-body;
}

.DocSearch-Search-Icon {
	@apply !w-4 !h-4 md:!w-3 md:!h-3 md:!mr-1 !text-transparent;
  	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"><path stroke="%236A7280" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/></svg>');
}

.dark .DocSearch-Search-Icon {
  	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"><path stroke="%239BA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/></svg>');
}

.DocSearch-Button-Keys {
	@apply items-center min-w-0;
}

.DocSearch-Button-Key:first-child {
  @apply mr-px text-base;
}

.DocSearch-Button-Key {
	@apply w-auto pt-1 pb-0 m-0 text-xs font-normal text-body shadow-none bg-none;
}

.DocSearch-Button .DocSearch-Search-Icon {
	@apply text-body;
}

.DocSearch-Hit-icon {
	@apply hidden;
}

.DocSearch-Hits mark {
	@apply text-brand dark:text-white decoration-2 underline-offset-2 decoration-brand dark:decoration-white;
}

.DocSearch-Hit[aria-selected=true] a {
	@apply bg-brand dark:bg-brand;
}

.DocSearch-Hit-source {
	@apply pb-1 text-gray-600 bg-white dark:bg-gray-700 dark:text-gray-400;
}

.DocSearch-Container {
	@apply bg-gray-900/50 dark:bg-gray-900/80;
}

.DocSearch-Modal {
	@apply mx-auto mt-[1rem] max-h-[calc(100vh-2rem)] w-full max-w-[calc(100vw-2rem)] overflow-hidden shadow-none rounded-lg lg:mt-[4rem] lg:max-h-none lg:max-w-xl;
}

.DocSearch-SearchBar {
	@apply p-0 border-b border-gray-100 dark:border-gray-600 dark:bg-gray-700;
}

.DocSearch-Form {
	@apply shadow-none dark:bg-gray-700;
}

.DocSearch-Input {
	@apply text-sm text-gray-500 shadow-none dark:text-white focus:shadow-none focus:ring-0 dark:bg-gray-700;
}

.DocSearch-LoadingIndicator svg, .DocSearch-MagnifierLabel svg {
	@apply w-4 h-4;
}

.DocSearch-Commands {
	@apply hidden;
}

.DocSearch-Footer {
	@apply h-12 border-t border-gray-100 shadow-none dark:bg-gray-700 dark:border-gray-600;
}

.DocSearch-Dropdown {
	@apply bg-white dark:bg-gray-700;
}

.DocSearch-Hit {
	@apply pb-2 shadow-none;
}

.DocSearch-Hit a {
	@apply rounded-lg shadow-none bg-gray-50 dark:bg-gray-600 dark:hover:bg-brand;
}

.DocSearch-Hit[aria-selected=true] .DocSearch-Hit-Select-Icon,
.DocSearch-Hit-action-button {
	@apply hidden;
}

.DocSearch-Hit .DocSearch-Hit-action:last-child {
	@apply w-5 h-5;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.DocSearch-Hit[aria-selected=true] .DocSearch-Hit-action:last-child {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.DocSearch-Screen-Icon,
.DocSearch-NoResults-Prefill-List,
.DocSearch-Cancel {
	@apply hidden;
}

.DocSearch-Title {
	@apply mb-1 text-lg font-normal text-gray-600 dark:text-gray-200;
}

.DocSearch-Hit-Container {
	@apply dark:text-gray-300;
}

.DocSearch-Logo svg {
	@apply dark:text-gray-400;
}

.DocSearch-Reset {
	@apply dark:text-gray-300 dark:hover:text-white hover:text-black;
}

.formkit-alert.formkit-alert-success {
	@apply p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-gray-800 dark:text-green-400 font-medium;
}

.formkit-alert.formkit-alert-error:not(:empty) {
	@apply p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-gray-800 dark:text-red-400;
}
