@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "tailwindcss";
@import "./themes/enterprise.css";
@plugin "./../plugin.js";
@plugin "flowbite-typography";

@custom-variant dark (&:where(.dark, .dark *));

@import "./docs.css";

/*
“Have the courage to follow your heart and intuition. They somehow already know what you truly want to become. Everything else is secondary.”
― Steve Jobs
*/

