@tailwind base;
@tailwind components;
@tailwind utilities;

/*
“Have the courage to follow your heart and intuition. They somehow already know what you truly want to become. Everything else is secondary.”
― Steve Jobs
*/

.tooltip-arrow,
.tooltip-arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

.tooltip-arrow {
	visibility: hidden;
}

.tooltip-arrow::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
}

.tooltip[data-popper-placement^='top'] > .tooltip-arrow {
	bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .tooltip-arrow {
	top: -4px;
}

.tooltip[data-popper-placement^='left'] > .tooltip-arrow {
	right: -4px;
}

.tooltip[data-popper-placement^='right'] > .tooltip-arrow {
	left: -4px;
}