@import "tailwindcss";
/* @import "./themes/default.css"; */
@import "./themes/minimal.css";
@plugin "./../plugin.js";
@plugin "flowbite-typography";

@custom-variant dark (&:where(.dark, .dark *));
@import "./docs.css";

/*
“Have the courage to follow your heart and intuition. They somehow already know what you truly want to become. Everything else is secondary.”
― Steve Jobs
*/

