@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";
@import "./themes/mono.css";
@plugin "./../plugin.js";
@plugin "flowbite-typography";

@custom-variant dark (&:where(.dark, .dark *));

@import "./docs.css";

/*
“Have the courage to follow your heart and intuition. They somehow already know what you truly want to become. Everything else is secondary.”
― Steve Jobs
*/

