<a href="{{ "getting-started/vue/" | relURL }}"
    class="inline-flex items-center justify-between px-1 py-1 pr-4 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
    aria-label="Component requires Vue">
    <span class="text-xs bg-green-500 rounded-full text-white px-3 py-1.5 mr-3">
        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="vuejs" class="w-4 h-4" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor"
                d="M356.9 64.3H280l-56 88.6-48-88.6H0L224 448 448 64.3h-91.1zm-301.2 32h53.8L224 294.5 338.4 96.3h53.8L224 384.5 55.7 96.3z">
            </path>
        </svg></span> <span class="text-sm font-medium">Requires Vue.js</span>
</a>